<% content_for :meta_title, t('.title', name: @entity.name) %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= return_icon(admin_metrics_path) %></li>
    <li><%= edit_icon(edit_metric_path(@entity.id)) %></li>
  </ul>

  <div><%= @entity.description %></div>

  <%= render partial: 'admin/metrics/entity/values', locals: { metric: @entity, values: @entity.values(@entity.default_period) } %>
</article>
