<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.metrics.nav_item.text'), admin_metrics_path) %>
    <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_metrics_path) %></li>
    <li><%= edit_icon(edit_metric_path(@entity.id)) %></li>
  </ul>

  <div><%= @entity.description %></div>

  <canvas id="metric-chart" width="640" height="480" data-source="<%= data_admin_metric_path(@entity.id) %>"></canvas>
</article>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
<script>
    'use strict';

    document.addEventListener('DOMContentLoaded', function () {
        const canvas = document.getElementById('metric-chart');
        const url = canvas.getAttribute('data-source');
        const request = Biovision.new_ajax_request('GET', url, function () {
            const response = JSON.parse(this.responseText);

            if (response.hasOwnProperty('data')) {
                const metric = response.data;
                const labels = Object.keys(metric.graph_data);
                const myChart = new Chart(canvas, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: metric.name,
                            data: labels.map(function (k) {
                                return metric.graph_data.k;
                            }),
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: metric.start_with_zero
                                }
                            }]
                        }
                    }
                });
            }
        });

        request.send();
    });
</script>
