<article class="user">
  <h1><%= user.screen_name %></h1>

  <% if current_user_has_privilege?(:administrator) %>
      <ul class="actions">
        <li><%= gear_icon(admin_user_path(id: user.id)) %></li>
      </ul>
  <% end %>

  <% if current_user == user %>
      <nav>
        <%= link_to t(:edit), edit_my_profile_path, class: 'button-action' %>
      </nav>
  <% end %>

  <figure>
    <%= profile_avatar(user) %>
    <figcaption><%= user.profile_name %></figcaption>
  </figure>

  <dl>
    <dt><%= t('.registration_date') %></dt>
    <dd><%= time_tag user.created_at %></dd>
    <% unless user.last_seen.blank? %>
        <dt><%= t('activerecord.attributes.user.last_seen') %></dt>
        <dd><%= time_tag user.last_seen %></dd>
    <% end %>
    <% unless user.data.dig('profile', 'name').blank? %>
        <dt><%= t('activerecord.attributes.user_profile.name') %></dt>
        <dd><%= user.full_name %></dd>
    <% end %>
    <% if current_user == user && !user.email.blank? %>
        <dt><%= t('activerecord.attributes.user.email') %></dt>
        <dd><%= user.email %></dd>
    <% end %>
    <% unless user.datadig('profile', 'gender').blank? %>
        <dt><%= t('activerecord.attributes.user_profile.gender') %></dt>
        <dd><%= gender_name(user.data.dig('profile', 'gender')) %></dd>
    <% end %>
  </dl>
</article>
