<figure class="image"><%= user_image_preview(entity.user) %></figure>
<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info">
    <%= admin_entity_link(entity.user) %>: <%= entity.name %>
  </div>
  <div class="secondary info">
    <div><%= t(:created_at) %>: <%= time_tag entity.created_at %></div>
    <%= render partial: 'shared/track', locals: { item: entity } %>
  </div>
</div>
