<div class="data">
  <div><%= entity.name %></div>
  <div class="info">
    <% unless entity.user.blank? %>
      <%= admin_entity_link(entity.user) %><br/>
    <% end %>
    <%= entity.phone %><br/>
    <%= entity.email %>
  </div>
  <div class="secondary info">
    <%= time_tag entity.created_at %><br/>
    <%= entity.ip %>
  </div>
  <% unless entity.comment.blank? %>
    <div class="secondary info">
      <%= simple_format entity.comment %>
    </div>
  <% end %>
  <% unless entity.data.empty? %>
    <div class="secondary info">
      <%= t('activerecord.attributes.feedback_request.data') %>:
      <% entity.data.each do |k, v| %>
        <div><dfn><%= k %></dfn>: <%= v %></div>
      <% end %>
    </div>
  <% end %>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: entity,
            url: toggle_admin_feedback_request_path(id: entity.id)
        }
    )
  %>
</div>
