<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <meta charset="UTF-8"/>
  <title><%= yield :meta_title %></title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<%= render 'layouts/profile/header' %>

<main id="main">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/breadcrumbs_profile' %>

  <div id="profile-content">
    <% unless content_for?(:hide_sidebar) || current_user.nil? %>
      <%= render 'layouts/profile/sidebar' %>
    <% end %>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</main>

<%= render 'layouts/profile/footer' %>
</body>
</html>
