<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.media_files.nav_item.text'), admin_media_files_path) %>
  <%= admin_media_file_link(@entity) %>
  <span><%= t(:edit) %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_media_file_path(id: @entity.id)) %></li>
    <% unless @entity.locked? %>
      <li class="danger"><%= destroy_icon(@entity) %></li>
    <% end %>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
