<% if collection.any? %>
    <ol class="list-of-entities">
      <% collection.each do |entity| %>
          <% if entity.deleted? %>
              <li class="deleted"><%= t(:deleted_entity) %>, id: <%= entity.id %> [<%= entity.name %>]</li>
          <% else %>
              <li data-number="<%= entity.priority %>" data-id="<%= entity.id %>">
                <%= render partial: 'admin/privileges/entity/in_list', locals: { entity: entity } %>
              </li>
          <% end %>
      <% end %>
    </ol>
<% else %>
    <%= render 'shared/nothing_found' %>
<% end %>
