<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.privileges.nav_item.text'), admin_privileges_path) %>
  <% @entity.parents.each do |parent| %>
    <%= admin_privilege_link(parent) %>
  <% end %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_privileges_path) %></li>
    <li><%= edit_icon(edit_privilege_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <% unless @entity.parent.nil? %>
      <dt><%= t('activerecord.attributes.privilege.parent_id') %></dt>
      <dd><%= admin_privilege_link(@entity.parent) %></dd>
    <% end %>
    <dt><%= t('activerecord.attributes.privilege.slug') %></dt>
    <dd><%= @entity.slug %></dd>

    <dt><%= t('activerecord.attributes.privilege.priority') %></dt>
    <dd><%= @entity.priority %></dd>

    <% unless @entity.description.blank? %>
      <dt><%= t('activerecord.attributes.privilege.description') %></dt>
      <dd><%= @entity.description %></dd>
    <% end %>

    <% unless @entity.parents_cache.blank? %>
      <dt><%= t('activerecord.attributes.privilege.parents_cache') %></dt>
      <dd><%= @entity.parents_cache %></dd>
    <% end %>

    <% unless @entity.children_cache.blank? %>
      <dt><%= t('activerecord.attributes.privilege.children_cache') %></dt>
      <dd><%= @entity.children_cache.join(', ') %></dd>
    <% end %>

    <%=
      render(
          partial: 'shared/entity/timestamps',
          locals: { entity: @entity }
      )
    %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: @entity,
            url: toggle_admin_privilege_path(id: @entity.id)
        }
    )
  %>

  <nav>
    <ul>
      <li><%= link_to t(:user_count, count: @entity.users_count), users_admin_privilege_path(id: @entity.id) %></li>
    </ul>
  </nav>

  <%= render partial: 'admin/privileges/entity/groups', locals: { privilege: @entity } %>

  <section>
    <h2><%= t('.children') %></h2>

    <%= render partial: 'admin/privileges/list', locals: { collection: Privilege.for_tree(@entity.id) } %>
  </section>

  <section>
    <h2><%= t('.add_child') %></h2>

    <%= render partial: 'privileges/form', locals: { entity: Privilege.new(parent: @entity) } %>
  </section>
</article>
