<% content_for :meta_title, t('.title', privilege: @entity.full_title, page: current_page) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.privileges.nav_item.text'), admin_privileges_path) %>
    <% @entity.parents.each do |parent| %>
        <%= admin_privilege_link(parent) %>
    <% end %>
    <%= admin_privilege_link(@entity) %>
    <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= @entity.full_title %></h1>
  <ul class="actions">
    <li><%= return_icon(admin_privilege_path(@entity)) %></li>
  </ul>

  <section>
    <h2><%= t('.heading') %></h2>

    <%= paginate @collection %>
    <%= render partial: 'admin/users/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>
</article>
