<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.agents.nav_item.text'), admin_agents_path) %>
    <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_agents_path) %></li>
    <% unless @entity.locked? %>
        <li><%= edit_icon edit_agent_path(@entity.id) %></li>
        <li class="danger"><%= destroy_icon @entity %></li>
    <% end %>
  </ul>

  <% unless @entity.browser.nil? %>
      <dl>
        <dt><%= t('activerecord.attributes.agent.browser_id') %></dt>
        <dd>
          <%= admin_browser_link(@entity.browser) %>
        </dd>
      </dl>
  <% end %>

  <%= render partial: 'shared/admin/toggleable', locals: { entity: @entity, url: toggle_admin_agent_path(@entity.id) } %>
</article>
