<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.media_folders.nav_item.text'), admin_media_folders_path) %>
  <% @entity.parents.each do |parent| %>
    <%= admin_media_folder_link(parent) %>
  <% end %>
  <%= admin_media_folder_link(@entity) %>
  <span><%= t('admin.media_folders.show.media_files') %></span>
<% end %>

<article>
  <h1><%= @entity.full_title %></h1>
  <h2><%= t(:media_file_count, count: @entity.media_files_count) %></h2>

  <ul class="actions">
    <li><%= return_icon(admin_media_folder_path(id: @entity.id)) %></li>
  </ul>

  <%= paginate @collection %>
  <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>
  <%= paginate @collection %>

  <section>
    <h2><%= t('media_files.new.heading') %></h2>

    <%= render partial: 'media_files/form', locals: { entity: @entity.media_files.new } %>
  </section>
</article>
