<% content_for :meta_title, @entity.name %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.media_folders.nav_item.text'), admin_media_folders_path) %>
  <% @entity.parents.each do |parent| %>
    <%= admin_media_folder_link(parent) %>
  <% end %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li>
      <% if @entity.parent.nil? %>
        <%= return_icon(admin_media_folders_path) %>
      <% else %>
        <%= return_icon(admin_media_folder_path(@entity.parent_id)) %>
      <% end %>
    </li>
    <li><%= edit_icon(edit_media_folder_path(@entity.id)) %></li>
  </ul>

  <% unless @entity.snapshot.blank? %>
    <figure role="group">
      <%= media_snapshot_preview(@entity) %>
      <figcaption>
        <%= t('activerecord.attributes.media_folder.snapshot') %>
      </figcaption>
    </figure>
  <% end %>

  <dl>
    <% unless @entity.parent.nil? %>
      <dt><%= t('activerecord.attributes.media_folder.parent') %></dt>
      <dd><%= admin_media_folder_link(@entity.parent) %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.media_folder.name') %></dt>
    <dd><%= @entity.name %></dd>

    <dt><%= t('activerecord.attributes.media_folder.user') %></dt>
    <dd><%= editor_user_link(@entity.user) %></dd>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag(@entity.created_at) %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag(@entity.updated_at) %></dd>

    <dt><%= t('activerecord.attributes.media_folder.uuid') %></dt>
    <dd><%= @entity.uuid %></dd>

    <dt><%= t('.media_files') %></dt>
    <dd>
      <%=
        link_to(t(:media_file_count, count: @entity.media_files_count),
                files_admin_media_folder_path(@entity.id))
      %>
    </dd>

    <% if @collection.any? %>
      <dt><%= t(:child_media_folder_count, count: @collection.count) %></dt>
      <dd>
        <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>
      </dd>
    <% end %>
  </dl>

  <%= render partial: 'shared/track', locals: { item: @entity } %>

  <% if @entity.depth < MediaFolder::MAX_DEPTH %>
    <section>
      <h2><%= t('.add_child') %></h2>

      <%= render partial: 'media_folders/form', locals: { entity: MediaFolder.new(parent: @entity) } %>
    </section>
  <% end %>
</article>
