<section>
  <h2><%= t('.heading') %></h2>

  <% if PrivilegeGroup.count > 0 %>
    <ul class="list-of-entities privilege-groups">
      <% PrivilegeGroup.list_for_administration.each do |privilege_group| %>
        <li data-url="<%= privilege_admin_privilege_group_path(id: privilege_group.id, privilege_id: privilege.id) %>">
          <% element_id = "privilege_group_#{privilege_group.id}" %>
          <%= check_box_tag element_id, 1, privilege_group.has_privilege?(privilege) %>
          <%= label_tag element_id, privilege_group.name %>
        </li>
      <% end %>
    </ul>

    <script>
        'use strict';

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('ul.privilege-groups input[type=checkbox]').forEach(function (element) {
                element.addEventListener('click', function () {
                    const url = this.closest('li').getAttribute('data-url');
                    const method = this.checked ? 'put' : 'delete';
                    const request = Biovision.newAjaxRequest(method, url, function () {
                        console.log(JSON.parse(this.responseText));
                    });

                    request.send();
                });

            });
        });
    </script>
  <% else %>
    <%= render 'shared/nothing_found' %>
  <% end %>
</section>
