<div class="data">
  <div><%= admin_privilege_link(entity) %></div>
  <div class="secondary info">
    <div><%= entity.description %></div>
  </div>
  <div class="info">
    <div><%= entity.slug %></div>
    <div><%= entity.privilege_groups.map(&:name).join(', ') %></div>
    <div>
      <%=
        link_to(
            t(:user_count, count: entity.users_count),
            users_admin_privilege_path(id: entity.id)
        )
      %>
    </div>
  </div>
  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: entity,
            url:    toggle_admin_privilege_path(id: entity.id)
        }
    )
  %>

  <ul class="actions">
    <li>
      <%= edit_icon(edit_privilege_path(id: entity.id)) %>
    </li>
    <%=
      render(
          partial: 'shared/actions/priority_changer',
          locals:  {
              path: priority_admin_privilege_path(id: entity.id)
          }
      )
    %>
  </ul>

  <% if entity.child_privileges.any? %>
    <div class="children">
      <%=
        render(
            partial: 'shared/admin/list_with_priority',
            locals:  {
                collection: Privilege.for_tree(entity.id)
            }
        )
      %>
    </div>
  <% end %>
</div>
