<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
    <span><%= t('admin.tokens.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_path) %></li>
    <li><%= create_icon(new_token_path) %></li>
  </ul>

  <%= render partial: 'admin/tokens/filter', locals: { filter: @filter } %>

  <%= paginate @collection %>
  <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>
  <%= paginate @collection %>
</article>
