<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :breadcrumbs do %>
    <%= link_to t('admin.tokens.nav_item.text'), admin_tokens_path %>
    <span><%= @entity.name %></span>
<% end %>

<article class="entity-page">
  <h1><%= @entity.token %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_tokens_path) %></li>
    <li><%= edit_icon(edit_token_path(@entity)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <table>
    <tbody>
    <tr>
      <th><%= t('activerecord.attributes.token.user') %></th>
      <td><%= admin_user_link(@entity.user) %></td>
    </tr>
    <% unless @entity.last_used.nil? %>
        <tr>
          <th><%= t('activerecord.attributes.token.last_used') %></th>
          <td><%= time_tag @entity.last_used %></td>
        </tr>
    <% end %>
    <tr>
      <th><%= t(:created_at) %></th>
      <td><%= time_tag @entity.created_at %></td>
    </tr>
    <tr>
      <th><%= t(:updated_at) %></th>
      <td><%= time_tag @entity.updated_at %></td>
    </tr>
    <% unless @entity.ip.blank? %>
        <tr>
          <th><%= t('tracking.ip') %></th>
          <td><%= @entity.ip %></td>
        </tr>
    <% end %>
    <% unless @entity.agent.blank? %>
        <tr>
          <th><%= t('tracking.agent') %></th>
          <td><%= @entity.agent.name %></td>
        </tr>
    <% end %>
    <tr>
      <td colspan="2">
        <%= render partial: 'admin/tokens/toggleable', locals: { entity: @entity } %>
      </td>
    </tr>
    </tbody>
  </table>
</article>
