<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to t('admin.tokens.nav_item.text'), admin_tokens_path %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.token %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_tokens_path) %></li>
    <li><%= edit_icon(edit_token_path(id: @entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <dl>
    <dt><%= t('activerecord.attributes.token.user') %></dt>
    <dd><%= admin_entity_link(@entity.user) %></dd>

    <% unless @entity.last_used.nil? %>
        <dt><%= t('activerecord.attributes.token.last_used') %></dt>
        <dd><%= time_tag @entity.last_used %></dd>
    <% end %>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag @entity.created_at %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag @entity.updated_at %></dd>

    <% unless @entity.ip.blank? %>
        <dt><%= t('tracking.ip') %></dt>
        <dd><%= @entity.ip %></dd>
    <% end %>

    <% unless @entity.agent.blank? %>
        <dt><%= t('tracking.agent') %></dt>
        <dd><%= @entity.agent.name %></dd>
    <% end %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: @entity,
            url: toggle_admin_token_path(id: @entity.id)
        }
    )
  %>
</article>
