<% content_for :meta_title, t('.title', id: @entity.id) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to t('admin.tokens.nav_item.text'), admin_tokens_path %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.token %></h1>

  <ul class="actions">
    <li><%= edit_icon(@entity) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <dl class="fields">
    <%= render partial: 'shared/entity/linked_entity', locals: { entity: @entity.user } %>
    <%= render partial: 'shared/entity/time_field', locals: { entity: @entity, field: :last_used } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/track', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity }) %>
</article>
