<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.editable_pages.nav_item.text'), admin_editable_pages_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_editable_pages_path) %></li>
    <% unless @entity.url.blank? %>
      <li><%= world_icon(@entity.url, t(:view_as_visitor), locale: @entity.language&.code) %></li>
    <% end %>
    <li><%= edit_icon(edit_editable_page_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <% unless @entity.language.nil? %>
      <dt><%= t('activerecord.attributes.editable_page.language') %></dt>
      <dd><%= language_name(@entity.language) %></dd>
    <% end %>

    <% unless @entity.image.blank? %>
      <dt><%= t('activerecord.attributes.editable_page.image') %></dt>
      <dd>
        <figure role="group" class="preview">
          <%= editable_page_image_medium(@entity) %>
          <figcaption><%= @entity.image_alt_text %></figcaption>
        </figure>
      </dd>
    <% end %>

    <dt><%= t('activerecord.attributes.editable_page.slug') %></dt>
    <dd><%= @entity.slug %></dd>

    <% unless @entity.url.blank? %>
      <dt><%= t('activerecord.attributes.editable_page.url') %></dt>
      <dd><%= @entity.url %></dd>
    <% end %>

    <% unless @entity.nav_group.blank? %>
      <dt><%= t('activerecord.attributes.editable_page.nav_group') %></dt>
      <dd><%= @entity.nav_group %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.editable_page.body') %></dt>
    <dd>
      <div class="text">
        <%= raw @entity.text %>
      </div>
    </dd>

    <%= render partial: 'shared/entity/meta_texts', locals: { entity: @entity } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: @entity,
            url:    toggle_admin_editable_page_path(id: @entity.id)
        }
    )
  %>
</article>
