<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.editable_pages.nav_item.text'), admin_editable_pages_path) %>
    <span><%= @entity.name %></span>
<% end %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_editable_pages_path) %></li>
    <li><%= edit_icon(edit_editable_page_path(@entity.id)) %></li>
  </ul>

  <% unless @entity.image.blank? %>
      <figure>
        <%= editable_page_image_medium(@entity) %>
        <figcaption><%= t(:current_image) %></figcaption>
      </figure>
  <% end %>

  <dl>
    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag(@entity.created_at) %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag(@entity.updated_at) %></dd>

    <dt><%= t('activerecord.attributes.editable_page.slug') %></dt>
    <dd><%= @entity.slug %></dd>

    <% unless @entity.title.blank? %>
        <dt><%= t('activerecord.attributes.editable_page.title') %></dt>
        <dd><%= @entity.title %></dd>
    <% end %>
    <% unless @entity.keywords.blank? %>
        <dt><%= t('activerecord.attributes.editable_page.keywords') %></dt>
        <dd><%= @entity.keywords %></dd>
    <% end %>
    <% unless @entity.description.blank? %>
        <dt><%= t('activerecord.attributes.editable_page.description') %></dt>
        <dd><%= @entity.description %></dd>
    <% end %>
  </dl>

  <section><%= raw(@entity.body) %></section>
</article>
