<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.heading') %></h1>

  <div class="dashboard">
    <nav>
      <ul>
        <% if current_user_has_privilege?(:administrator) %>
            <li><%= render 'admin/users/nav_item' %></li>
            <li><%= render 'admin/login_attempts/nav_item' %></li>
            <li><%= render 'admin/tokens/nav_item' %></li>
            <li><%= render 'admin/codes/nav_item' %></li>
            <li><%= render 'admin/privileges/nav_item' %></li>
            <li><%= render 'admin/privilege_groups/nav_item' %></li>
        <% end %>
        <% if current_user_in_group?(:region_managers) %>
            <li><%= render 'admin/regions/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:metrics_manager) %>
            <li><%= render 'admin/metrics/nav_item' %></li>
        <% end %>
        <% if current_user_has_privilege?(:chief_editor) %>
            <li><%= render 'admin/editable_pages/nav_item' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</article>
