<%= form_with model: entity, html: { id: 'media-folder-form' } do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <% unless entity.id.nil? %>
      <% unless entity.parent_id.nil? %>
        <dt><%= t('activerecord.attributes.media_folder.parent_id') %></dt>
        <dd>
          <%= admin_media_folder_link(entity.parent) %>
        </dd>
      <% end %>
    <% end %>

    <dt><%= f.label :snapshot %></dt>
    <dd>
      <figure class="preview" id="media-folder-snapshot">
        <% if entity.snapshot.blank? %>
          <% image = image_tag('biovision/base/placeholders/image.svg') %>
        <% else %>
          <% image = image_tag(entity.snapshot.preview_2x.url) %>
        <% end %>
        <%= f.label :snapshot, image %>
        <figcaption>
          <%=
            f.file_field(:snapshot,
                         id:     :media_folder_snapshot,
                         accept: 'image/jpeg,image/png',
                         data:   { image: 'media-folder-snapshot' })
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.snapshot') %></div>
    </dd>

    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(:name,
                     id:        :media_folder_name,
                     size:      nil,
                     maxlength: MediaFolder::NAME_LIMIT,
                     required:  true)
      %>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.hidden_field(:parent_id) if entity.id.nil? %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
