<%
  entity = f.object
  model_name = entity.class.to_s.underscore
  img = entity.simple_image
  src = img&.image.blank? ? 'biovision/base/placeholders/3x2.svg' : img.image.medium_url
  handler_url ||= admin_component_images_path(slug: component_handler.class.slug)
%>
<div>
  <dt><%= f.label :simple_image_id %></dt>
  <dd>
    <div class="js-simple-image-upload simple-image-upload">
      <figure class="image-preview" id="<%= model_name %>-image">
        <%=
          label_tag(
              "#{model_name}_image",
              image_tag(src, alt: ''),
              class: 'current-image'
          )
        %>
        <figcaption>
          <div class="guideline"><%= t('.guideline') %></div>
        </figcaption>
      </figure>
      <div class="js-change" data-url="<%= handler_url %>">
        <div class="buttons">
          <button class="button button-ghost js-new-image" type="button">
            <%= t('.new_image') %>
          </button>
          <button class="button button-ghost js-select-image" type="button">
            <%= t('.select') %>
          </button>
        </div>
        <%= render 'shared/forms/simple_image/browse' %>
        <%= render 'shared/forms/simple_image/load_image' %>
      </div>
      <%= f.hidden_field(:simple_image_id) %>
    </div>
  </dd>
</div>
