<%
  component_handler ||= Biovision::Components::RegistrationComponent[nil]
  model_name = entity.class.to_s.underscore
%>
<%=
  form_with(
      model: entity,
      scope: model_name,
      url: my_profile_path,
      class: 'new-my-profile',
      id: "#{model_name}-form",
      data: { check_url: check_my_profile_path }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>
  <dl>
    <% unless component_handler.email_as_login? %>
      <dt>
        <%= f.label :screen_name, t('activerecord.attributes.user.screen_name') %>
      </dt>
      <dd>
        <%=
          f.text_field(
              :screen_name,
              data: { check: :screen_name },
              id: "#{model_name}_screen_name",
              maxlength: User::SCREEN_NAME_LIMIT,
              pattern: User::SCREEN_NAME_PATTERN_HTML,
              required: true,
              title: t('.guidelines.screen_name'),
          )
        %>
        <div class="check-result-error" data-field="screen_name"></div>
        <div class="guideline"><%= t('.guidelines.screen_name') %></div>
      </dd>
    <% end %>
    <dt>
      <%= f.label :email, t('activerecord.attributes.user.email') %>
    </dt>
    <dd>
      <%=
        f.email_field(
            :email,
            id: "#{model_name}_email",
            size: nil,
            maxlength: User::EMAIL_LIMIT,
            required: component_handler.require_email?,
            data: { check: :email }
        )
      %>
      <div class="check-result-error" data-field="email"></div>
      <% unless component_handler.email_as_login? %>
        <div class="guideline"><%= t('.guidelines.email') %></div>
      <% end %>
    </dd>

    <dt>
      <%= f.label :password, t('activerecord.attributes.user.password') %>
    </dt>
    <dd>
      <%=
        f.password_field(
            :password,
            id: "#{model_name}_password",
            required: true,
            size: nil,
            maxlength: 70,
            data: { check: :password }
        )
      %>
      <div class="check-result-error" data-field="password"></div>
      <div class="guideline"><%= t('.guidelines.password') %></div>
    </dd>

    <dt>
      <%= f.label :password_confirmation, t('activerecord.attributes.user.password_confirmation') %>
    </dt>
    <dd>
      <%=
        f.password_field(
            :password_confirmation,
            id: "#{model_name}_password_confirmation",
            required: true,
            size: nil,
            maxlength: 70,
            data: { check: :password_confirmation }
        )
      %>
      <div class="check-result-error" data-field="password_confirmation"></div>
      <div class="guideline"><%= t('.guidelines.password_confirmation') %></div>
    </dd>

    <% if component_handler.use_invites? %>
      <dt>
        <%= label_tag :code, t('.invitation_code') %>
      </dt>
      <dd>
        <%=
          text_field_tag(
              :code,
              param_from_request(:code),
              required: component_handler.invite_only?,
              size: nil,
              maxlength: Code::BODY_LIMIT,
              data: {
                  check: :code
              }
          )
        %>
        <div class="check-result-error" data-field="code"></div>
      </dd>
    <% end %>
  </dl>

  <ul class="flags">
    <li>
      <%= f.check_box :consent, id: "#{model_name}_consent", required: true %>
      <%= f.label :consent, t('.consent') %>
    </li>
    <li>
      <%= f.check_box :allow_mail, id: :user_allow_mail %>
      <%= f.label :allow_mail, t('activerecord.attributes.user.allow_mail') %>
    </li>
  </ul>

  <div class="visually-hidden">
    <%= check_box_tag :agree, '1', false, tabindex: '-1' %>
    <%= label_tag :agree, t('.i_am_bot') %>
  </div>

  <div class="actions">
    <%= button_tag t('.join'), type: :submit, class: 'button-action' %>
    <%= link_to t('authentication.nav_item.log_in'), login_path, class: 'button-nav' %>
  </div>
<% end %>
