<% unless entity.meta_title.blank? %>
  <div>
    <dt><%= t('.meta_title') %></dt>
    <dd><%= entity.meta_title %></dd>
  </div>
<% end %>

<% unless entity.meta_description.blank? %>
  <div>
    <dt><%= t('.meta_description') %></dt>
    <dd><%= entity.meta_description %></dd>
  </div>
<% end %>

<% unless entity.meta_keywords.blank? %>
  <div>
    <dt><%= t('.meta_keywords') %></dt>
    <dd><%= entity.meta_keywords %></dd>
  </div>
<% end %>
