<% content_for :meta_title, t('.title') %>

<article class="profile-content my-confirmation">
  <div class="content-wrapper">
    <h1><%= t('.title') %></h1>
    <% if current_user&.email_confirmed? %>
      <div class="message-box-notice">
        <%= t('activerecord.attributes.user.email_confirmed') %>
      </div>
    <% else %>
      <section id="confirmation-container">
        <h2><%= t('.got_code') %></h2>
        <%= form_with url: my_confirmation_path, method: :patch, local: true do %>
          <dl class="fields">
            <div>
              <dt>
                <%= label_tag :code, t('activerecord.attributes.code.body') %>
              </dt>
              <dd>
                <%= text_field_tag :code, param_from_request(:code), class: 'input-text', required: true %>
              </dd>
            </div>
          </dl>
          <div>
            <%= button_tag t('.confirm') %>
          </div>
        <% end %>
      </section>

      <% unless param_from_request(:instant).blank? %>
        <script>
            'use strict';

            document.addEventListener('DOMContentLoaded', function () {
                document.querySelector('#confirmation-container form').submit();
            });
        </script>
      <% end %>

      <% unless current_user.nil? %>
        <section>
          <h2><%= t('.no_code') %></h2>
          <%= form_with url: my_confirmation_path, method: :post, local: true do %>
            <div>
              <%= button_tag t('.send_code') %>
            </div>
          <% end %>
        </section>
      <% end %>
    <% end %>
  </div>
</article>
