<% content_for :meta_title, t('.title') %>

<article>
  <h1><%= t('.title') %></h1>
  <% if current_user&.email_confirmed? %>
      <div class="message-box-notice"><%= t('activerecord.attributes.user.email_confirmed') %></div>
  <% else %>
      <section id="confirmation-container">
        <h2><%= t('.got_code') %></h2>
        <%= form_tag my_confirmation_path, method: :patch do %>
            <div>
              <%= label_tag :code, t('activerecord.attributes.code.body') %>
              <%= text_field_tag :code, param_from_request(:code), required: true %>
            </div>
            <div>
              <%= button_tag t('.confirm'), type: :submit %>
            </div>
        <% end %>
      </section>

      <% unless param_from_request(:instant).blank? %>
          <script>
              'use strict';

              $(function () {
                  $('#confirmation-container').find('form').submit();
              });
          </script>
      <% end %>

      <section>
        <h2><%= t('.no_code') %></h2>
        <%= form_tag my_confirmation_path, method: :post do %>
            <div>
              <%= button_tag t('.send_code'), type: :submit %>
            </div>
        <% end %>
      </section>
  <% end %>
</article>
