<div class="data">
  <div><%= admin_link_block_link(entity) %></div>
  <div class="info">
    <%= entity.slug %>
  </div>
  <% unless entity.language.nil? %>
    <div class="secondary info">
      <%= t('activerecord.attributes.link_block.language') %>:
      <%= language_name(entity.language) %>
    </div>
  <% end %>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals: {
            entity: entity,
            url: toggle_admin_link_block_path(id: entity.id)
        }
    )
  %>

  <ul class="actions">
    <li><%= edit_icon(edit_link_block_path(id: entity.id)) %></li>
  </ul>
</div>
