<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html:  {
          id:   "#{model_name}-form",
          data: { check_url: check_link_block_items_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :priority %></dt>
    <dd>
      <%=
        f.number_field(
            :priority,
            id:       "#{model_name}_priority",
            in:       LinkBlockItem::PRIORITY_RANGE,
            required: true
        )
      %>
    </dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id:        "#{model_name}_slug",
            size:      nil,
            maxlength: LinkBlockItem::SLUG_LIMIT,
            data: {
                check: :slug
            }
        )
      %>
      <div class="check-result-error hidden" data-field="slug"></div>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :image %></dt>
    <dd>
      <figure class="preview" role="group" id="<%= model_name %>-image">
        <% if entity.image.blank? %>
          <%= f.label :image, image_tag('biovision/base/placeholders/image.svg') %>
        <% else %>
          <%= f.label :image, image_tag(entity.image.url) %>
        <% end %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id:     "#{model_name}_image",
                accept: 'image/jpeg,image/png,image/svg+xml',
                data:   { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.image') %></div>
    </dd>

    <dt><%= f.label :image_alt_text %></dt>
    <dd>
      <%=
        f.text_field(
            :image_alt_text,
            id:        "#{model_name}_image_alt_text",
            size:      nil,
            maxlength: LinkBlockItem::META_LIMIT,
            data:      {
                check: :image_alt_text
            }
        )
      %>
      <div class="check-result-error hidden" data-field="image_alt_text"></div>
      <div class="guideline"><%= t('.guidelines.image_alt_text') %></div>
    </dd>

    <dt><%= f.label :title %></dt>
    <dd>
      <%=
        f.text_field(
            :title,
            id:        "#{model_name}_title",
            size:      nil,
            maxlength: LinkBlockItem::TITLE_LIMIT,
            data:      {
                check: :title
            }
        )
      %>
      <div class="check-result-error hidden" data-field="title"></div>
      <div class="guideline"><%= t('.guidelines.title') %></div>
    </dd>

    <dt><%= f.label :button_text %></dt>
    <dd>
      <%=
        f.text_field(
            :button_text,
            id:        "#{model_name}_button_text",
            size:      nil,
            maxlength: LinkBlockItem::BUTTON_TEXT_LIMIT,
            data:      {
                check: :button_text
            }
        )
      %>
      <div class="check-result-error hidden" data-field="button_text"></div>
      <div class="guideline"><%= t('.guidelines.button_text') %></div>
    </dd>

    <dt><%= f.label :button_url %></dt>
    <dd>
      <%=
        f.text_field(
            :button_url,
            id:        "#{model_name}_button_text",
            size:      nil,
            maxlength: LinkBlockItem::URL_LIMIT,
            data:      {
                check: :button_url
            }
        )
      %>
      <div class="check-result-error hidden" data-field="button_url"></div>
      <div class="guideline"><%= t('.guidelines.button_url') %></div>
    </dd>

    <dt><%= f.label :body %></dt>
    <dd>
      <%=
        f.text_area(
            :body,
            id:   "#{model_name}_body",
            cols: 80,
            rows: 5,
            data: {
                check: :body
            }
        )
      %>
      <div class="check-result-error hidden" data-field="body"></div>
      <div class="guideline"><%= t('.guidelines.body') %></div>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <div class="buttons">
    <%= f.hidden_field :link_block_id if entity.id.nil? %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
