<div class="image">
  <%= media_snapshot_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_media_file_link(entity) %></div>
  <div class="info">
    <%= editor_user_link(entity.user) %>,
    <%= time_tag(entity.created_at) %>
  </div>
  <% unless entity.description.blank? %>
    <div class="secondary info">
      <%= entity.description %>
    </div>
  <% end %>
  <% unless entity.media_folder.nil? %>
    <div class="secondary info">
      <%= admin_media_folder_link(entity.media_folder, entity.media_folder.full_title) %>
    </div>
  <% end %>

  <ul class="actions">
    <% if entity.editable_by?(current_user) %>
      <li><%= edit_icon(edit_media_file_path(id: entity.id)) %></li>
    <% end %>
  </ul>
</div>
