<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <dl>
        <dt><%= t('activerecord.attributes.metric.name') %></dt>
        <dd>
          <%= entity.name %>
        </dd>

        <dt><%= f.label :description %></dt>
        <dd>
          <%= f.text_field :description %>
          <div class="guideline"><%= t('.guidelines.description') %></div>
        </dd>

        <dt><%= f.label :default_period %></dt>
        <dd>
          <%= f.number_field :default_period, in: Metric::PERIOD_RANGE, size: 3, required: true %>
          <div class="guideline"><%= t('.guidelines.default_period') %></div>
        </dd>
    </dl>
    
    <ul class="flags">
      <li>
        <%= f.check_box :incremental %>
        <%= f.label :incremental %>
      </li>
      <li>
        <%= f.check_box :start_with_zero %>
        <%= f.label :start_with_zero %>
      </li>
      <li>
        <%= f.check_box :show_on_dashboard %>
        <%= f.label :show_on_dashboard %>
      </li>
    </ul>

  <%= render 'shared/forms/state_container' %>

    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>
