<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>
  <dl>
    <dt><%= t('activerecord.attributes.metric.name') %></dt>
    <dd>
      <%= entity.name %>
    </dd>

    <dt><%= f.label :description %></dt>
    <dd>
      <%=
        f.text_field(
            :description,
            id: "#{model_name}_description",
            size: nil,
            maxlength: Metric::DESCRIPTION_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.description') %></div>
    </dd>

    <dt><%= f.label :default_period %></dt>
    <dd>
      <%=
        f.number_field(
            :default_period,
            id: "#{model_name}_default_period",
            in: Metric::PERIOD_RANGE,
            size: 3,
            required: true
        )
      %>
      <div class="guideline"><%= t('.guidelines.default_period') %></div>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.button t(:save), type: :submit %>
  </div>
<% end %>
