<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <%= render partial: 'shared/forms/priority', locals: { f: f } %>

    <dt><%= f.label :language_id %></dt>
    <dd><%= f.select :language_id, languages_for_select %></dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id:        "#{model_name}_slug",
            size:      nil,
            maxlength: EditablePage::SLUG_LIMIT,
            required:  true
        )
      %>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :url %></dt>
    <dd>
      <%=
        f.text_field(
            :url,
            id:          "#{model_name}_url",
            size:        nil,
            maxlength:   EditablePage::META_LIMIT,
            placeholder: t('.placeholders.url')
        )
      %>
      <div class="guideline"><%= t('.guidelines.url') %></div>
    </dd>

    <dt><%= f.label :image %></dt>
    <dd>
      <figure class="preview" role="group" id="<%= model_name %>-image">
        <% if entity.image.blank? %>
          <%= f.label :image, image_tag('biovision/base/placeholders/image.svg') %>
        <% else %>
          <%= f.label :image, image_tag(entity.image.medium.url) %>
        <% end %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id:     "#{model_name}_image",
                accept: 'image/jpeg,image/png',
                data:   { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.image') %></div>
    </dd>

    <dt><%= f.label :image_alt_text %></dt>
    <dd>
      <%=
        f.text_field(
            :image_alt_text,
            id:        "#{model_name}_image_alt_text",
            size:      nil,
            maxlength: EditablePage::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.image_alt_text') %></div>
    </dd>

    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            id:        "#{model_name}_name",
            size:      nil,
            maxlength: EditablePage::NAME_LIMIT,
            required:  true
        )
      %>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>

    <dt><%= f.label :title %></dt>
    <dd>
      <%=
        f.text_field(
            :title,
            id:        "#{model_name}_title",
            size:      nil,
            maxlength: EditablePage::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.title') %></div>
    </dd>

    <dt><%= f.label :keywords %></dt>
    <dd>
      <%=
        f.text_field(
            :keywords,
            id:        "#{model_name}_keywords",
            size:      nil,
            maxlength: EditablePage::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.keywords') %></div>
    </dd>

    <dt><%= f.label :description %></dt>
    <dd>
      <%=
        f.text_field(
            :description,
            id:        "#{model_name}_description",
            size:      nil,
            maxlength: EditablePage::META_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.description') %></div>
    </dd>

    <dt><%= f.label :body %></dt>
    <dd>
      <%=
        f.text_area(
            :body,
            id:       "#{model_name}_body",
            cols:     80,
            rows:     25,
            required: true,
            data:     { wysiwyg: 1 }
        )
      %>
      <div class="guideline"><%= t('.guidelines.body') %></div>
    </dd>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>

<%= render partial: 'shared/forms/wysiwyg' %>
