<section>
  <h2><%= t('.heading') %></h2>

  <ul id="biovision-component-parameters" data-url="<%= admin_set_parameter_path(slug: handler.slug) %>">
    <% parameters.each do |parameter| %>
      <%
        element_id = "parameter-#{parameter.id}"
        description = t("biovision.components.#{parameter.biovision_component.slug}.parameters.#{parameter.slug}.description", default: '')
      %>
      <li>
        <div class="name">
          <%= label_tag(element_id, parameter.slug) %>
        </div>
        <div class="value">
          <%= text_field_tag(:value, parameter.value, id: element_id) %>
          <%=
            button_tag(
                '',
                title: t(:save),
                type: :button,
                class: 'apply',
                disabled: true,
                data: {
                    slug: parameter.slug
                }
            )
          %>
        </div>
        <% unless description.blank? %>
          <div class="description">
            <%= description %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>
