<%= form_with(Biovision::Components::BaseComponent.form_options(entity)) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <% if entity.id.nil? %>
      <div>
        <dt><%= f.label :code_type_id %></dt>
        <dd>
          <%= f.select :code_type_id, code_types_for_select, required: true %>
        </dd>
      </div>

      <div>
        <dt><%= f.label :user_id %></dt>
        <dd>
          <%=
            f.number_field(
                :user_id,
                id: "#{model_name}_user_id",
                in: User.ids_range
            )
          %>
          <%=
            render(
                partial: 'admin/users/search',
                locals: { target_id: "#{model_name}_user_id" }
            )
          %>
        </dd>
      </div>
    <% else %>
      <div>
        <dt><%= entity.class.human_attribute_name(:code_type) %></dt>
        <dd><%= entity.code_type.name %></dd>
      </div>

      <%= render partial: 'shared/entity/linked_entity', locals: { entity: entity.user } %>
    <% end %>

    <%= render partial: 'shared/forms/text_field', locals: { f: f, field: :body } %>
    <%= render partial: 'shared/forms/text_field', locals: { f: f, field: :payload } %>
    <%= render partial: 'shared/forms/number_field', locals: { f: f, field: :quantity } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), class: 'button button-save' %>
  </div>
<% end %>
