<% content_for :meta_title, t('.title', body: @entity.body) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.codes.nav_item.text'), admin_codes_path) %>
    <span><%= @entity.body %></span>
<% end %>

<article>
  <h1><%= @entity.body %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_codes_path) %></li>
    <li><%= edit_icon(edit_code_path(id: @entity.id)) %></li>
  </ul>

  <dl>
    <dt><%= t('activerecord.attributes.code.category') %></dt>
    <dd>
      <%= @entity.code_type.name %>
    </dd>

    <dt><%= t('activerecord.attributes.code.user') %></dt>
    <dd>
      <%= admin_user_link @entity.user %>
    </dd>

    <dt><%= t(:created_at) %></dt>
    <dd>
      <%= time_tag(@entity.created_at) %>
    </dd>

    <% unless @entity.updated_at.nil? %>
        <dt><%= t(:updated_at) %></dt>
        <dd>
          <%= time_tag(@entity.updated_at) %>
        </dd>
    <% end %>

    <% unless @entity.payload.blank? %>
        <dt><%= t('activerecord.attributes.code.payload') %></dt>
        <dd>
          <%= @entity.payload %>
        </dd>
    <% end %>

    <dt><%= t('activerecord.attributes.code.quantity') %></dt>
    <dd>
      <%= t(:code_activation_count, count: @entity.quantity) %>
    </dd>
  </dl>
  <%= render partial: 'shared/track', locals: { item: @entity } %>
</article>
