<% content_for :meta_title, t('.title', body: @entity.body) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.codes.nav_item.text'), admin_codes_path) %>
    <span><%= @entity.body %></span>
<% end %>

<article class="entity-page">
  <h1><%= @entity.body %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_codes_path) %></li>
    <li><%= edit_icon(edit_code_path(@entity.id)) %></li>
  </ul>

  <dl>
    <dt><%= t('activerecord.attributes.code.category') %></dt>
    <dd>
      <%= t("activerecord.attributes.code.categories.#{@entity.category}") %>
    </dd>

    <dt><%= t('activerecord.attributes.code.user') %></dt>
    <dd>
      <%= admin_user_link @entity.user %>
    </dd>

    <% unless @entity.payload.blank? %>
        <dt><%= t('activerecord.attributes.code.payload') %></dt>
        <dd>
          <%= @entity.payload %>
        </dd>
    <% end %>

    <dt><%= t('activerecord.attributes.code.quantity') %></dt>
    <dd>
      <%= t(:code_activation_count, count: @entity.quantity) %>
    </dd>
  </dl>
  <%= render partial: 'shared/track', locals: { item: @entity } %>
</article>
