<% content_for :meta_title, t('.title', name: @entity.name) %>
<% content_for :breadcrumbs do %>
    <%= link_to t('admin.privilege_groups.nav_item.text'), admin_privilege_groups_path %>
    <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_privilege_groups_path) %></li>
    <li><%= edit_icon(edit_privilege_group_path(@entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <p><%= @entity.description %></p>

  <section>
    <h2><%= t('.privileges') %></h2>

    <% if @collection.any? %>
        <ol>
          <% @collection.each do |privilege| %>
              <li><%= admin_privilege_link(privilege) %></li>
          <% end %>
        </ol>
    <% else %>
        <%= render 'shared/nothing_found' %>
    <% end %>
  </section>
</article>
