<li><%= render 'admin/users/nav_item' %></li>
<li><%= render 'admin/foreign_users/nav_item' %></li>
<li><%= render 'admin/privileges/nav_item' %></li>
<li><%= render 'admin/privilege_groups/nav_item' %></li>
<li><%= render 'admin/login_attempts/nav_item' %></li>
<li><%= render 'admin/tokens/nav_item' %></li>
<li><%= render 'admin/codes/nav_item' %></li>
