<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_tag my_profile_path, method: :patch, multipart: true do %>
    <table>
      <caption><%= t('my.profiles.edit.title') %></caption>
      <tbody>
      <tr>
        <th colspan="2"><%= t('.common_parameters') %></th>
      </tr>
      <tr>
        <td colspan="2">
          <figure class="preview" id="user-image">
            <%= image_tag entity.image.profile.url, alt: t(:current_image) %>
            <figcaption>
              <%= label_tag :user_image, t('.update_image') %>
              <%= file_field_tag 'user[image]', accept: 'image/jpeg,image/png', data: { image: 'user-image' } %>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <th><%= label_tag :user_name, t('activerecord.attributes.user.name') %></th>
        <td><%= text_field_tag 'user[name]', entity.name, size: 30, maxlength: User::NAME_LIMIT %></td>
      </tr>
      <tr>
        <th><%= label_tag :user_gender, t('activerecord.attributes.user.gender') %></th>
        <td>
          <%= select_tag 'user[gender]', options_for_select(genders_for_select, selected: entity.gender) %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= hidden_field_tag 'user[allow_mail]', '0' %>
          <%= check_box_tag 'user[allow_mail]', '1', entity.allow_mail %>
          <%= label_tag :user_allow_mail, t('activerecord.attributes.user.allow_mail') %>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= t('.sensitive_parameters') %></th>
      </tr>
      <tr>
        <td colspan="2"><p class="notice"><%= t('.sensitive_parameters_notice') %></p></td>
      </tr>
      <tr>
        <th><%= label_tag :password, t('.current_password') %></th>
        <td><%= password_field_tag 'password', '', size: 30 %></td>
      </tr>
      <tr>
        <th><%= label_tag :user_email, t('activerecord.attributes.user.email') %></th>
        <td><%= email_field_tag 'user[email]', entity.email, size: 30, maxlength: User::EMAIL_LIMIT %></td>
      </tr>
      <tr>
        <td colspan="2"><p class="notice"><%= t('.leave_blank_if_necessary') %></p></td>
      </tr>
      <tr>
        <th><%= label_tag :profile_password, t('.new_password') %></th>
        <td><%= password_field_tag 'user[password]', '', size: 30, maxlength: 70 %></td>
      </tr>
      <tr>
        <th><%= label_tag :profile_password_confirmation, t('activerecord.attributes.user.password_confirmation') %></th>
        <td><%= password_field_tag 'user[password_confirmation]', '', size: 30, maxlength: 70 %></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="2"><%= button_tag t('.update'), type: :submit %></td>
      </tr>
      </tfoot>
    </table>
<% end %>
