<%=
  form_with(
      url: my_profile_path,
      method: :patch,
      multipart: true,
      id: 'user-form',
      class: 'profile-form'
  ) do
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>
  <section>
    <h2><%= t('.common_parameters') %></h2>

    <dl>
      <div>
        <dt>
          <%= t('activerecord.attributes.user.image') %>
        </dt>
        <dd>
          <figure id="user-image" role="group" class="preview">
            <div class="image">
              <%=
                label_tag(
                    :user_image,
                    image_tag(entity.image.profile.url, alt: t(:current_image))
                )
              %>
            </div>
            <figcaption>
              <%=
                file_field_tag(
                    'user[image]',
                    accept: 'image/jpeg,image/png',
                    class: 'visually-hidden',
                    data: {
                        image: 'user-image'
                    }
                )
              %>
              <%= label_tag(:user_image, t('.update_image'), class: 'button-primary') %>
            </figcaption>
          </figure>
        </dd>
      </div>

      <div>
        <dt>
          <%= label_tag :user_birthday, t('activerecord.attributes.user.birthday') %>
        </dt>
        <dd>
          <%=
            date_field_tag(
                'user[birthday]',
                entity.birthday,
                class: 'input-text',
                size: 10
            )
          %>
        </dd>
      </div>

      <%=
        render(
            partial: 'my/profiles/edit/form/profile_data',
            locals: {
                data: entity.data['profile'] || {}
            }
        )
      %>

      <div>
        <dt>
          <%= t('.flags') %>
        </dt>
        <dd>
          <ul class="form-flags">
            <li>
              <%= hidden_field_tag 'user[allow_mail]', '0', id: 'user_allow_mail_0' %>
              <%= check_box_tag 'user[allow_mail]', '1', entity.allow_mail, class: 'input-flag' %>
              <%= label_tag :user_allow_mail, t('activerecord.attributes.user.allow_mail') %>
            </li>
          </ul>
        </dd>
      </div>
    </dl>
  </section>

  <section>
    <h2><%= t('.sensitive_parameters') %></h2>

    <div class="guideline"><%= t('.sensitive_parameters_notice') %></div>

    <dl>
      <div>
        <dt>
          <%= label_tag :password, t('.current_password') %>
        </dt>
        <dd>
          <%= password_field_tag 'password', '', class: 'input-text' %>
        </dd>
      </div>

      <div>
        <dt>
          <%= label_tag :user_email, t('activerecord.attributes.user.email') %>
        </dt>
        <dd>
          <%=
            email_field_tag(
                'user[email]',
                entity.email,
                class: 'input-text',
                maxlength: User::EMAIL_LIMIT,
                size: nil
            )
          %>
        </dd>

      </div>

      <dt>
        <%= label_tag :user_phone, t('activerecord.attributes.user.phone') %>
      </dt>
      <dd>
        <%=
          telephone_field_tag(
              'user[phone]',
              entity.phone,
              class: 'input-text',
              maxlength: User::PHONE_LIMIT,
              size: nil
          )
        %>
      </dd>
    </dl>

    <div class="guideline"><%= t('.leave_blank_if_necessary') %></div>
    <dl>
      <div>
        <dt>
          <%= label_tag :profile_password, t('.new_password') %>
        </dt>
        <dd>
          <%=
            password_field_tag(
                'user[password]',
                '',
                class: 'input-text',
                maxlength: 70,
                size: nil
            )
          %>
        </dd>
      </div>

      <dt>
        <%= label_tag :profile_password_confirmation, t('activerecord.attributes.user.password_confirmation') %>
      </dt>
      <dd>
        <%=
          password_field_tag(
              'user[password_confirmation]',
              '',
              class: 'input-text',
              maxlength: 70,
              size: nil
          )
        %>
      </dd>
    </dl>
  </section>

  <div class="buttons">
    <%= button_tag t('.update'), class: 'button-save' %>
    <%= link_to(t('.back'), my_path, class: 'button-nav') %>
  </div>
<% end %>
