<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :image %></dt>
    <dd>
      <figure id="<%= model_name %>-image" role="group" class="preview">
        <%= f.label(:image, image_tag(entity.image.profile.url)) %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id: "#{model_name}_image",
                accept: 'image/jpeg,image/png',
                data: { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
    </dd>

    <dt><%= f.label :screen_name %></dt>
    <dd>
      <%=
        f.text_field(
            :screen_name,
            id: "#{model_name}_screen_name",
            maxlength: User::SCREEN_NAME_LIMIT,
            required: true
        )
      %>
      <% unless entity.foreign_slug? %>
        <div class="guideline"><%= t('.guidelines.screen_name') %></div>
      <% end %>
    </dd>

    <dt><%= f.label :email %></dt>
    <dd>
      <%=
        f.email_field(
            :email,
            id: "#{model_name}_email",
            size: nil,
            maxlength: User::EMAIL_LIMIT,
            readonly: entity.super_user?
        )
      %>
    </dd>

    <dt><%= f.label :phone %></dt>
    <dd>
      <%=
        f.phone_field(
            :phone,
            id: "#{model_name}_phone",
            size: 15,
            maxlength: User::PHONE_LIMIT,
            readonly: entity.super_user?
        )
      %>
    </dd>

    <dt><%= f.label :balance %></dt>
    <dd>
      <%=
        f.number_field(
            :balance,
            id: "#{model_name}_balance",
            size: 7
        )
      %>
    </dd>

    <dt><%= f.label :birthday %></dt>
    <dd>
      <%=
        f.date_field(
            :birthday,
            id: "#{model_name}_birthday",
            size: 10
        )
      %>
    </dd>

    <% if entity.id.blank? || !entity.super_user? %>
      <dt><%= f.label :password %></dt>
      <dd>
        <%=
          f.text_field(
              :password,
              id: "#{model_name}_password",
              size: nil,
              maxlength: 70,
              required: entity.id.nil?
          )
        %>
      </dd>

      <dt><%= f.label :password_confirmation %></dt>
      <dd>
        <%=
          f.text_field(
              :password_confirmation,
              id: "#{model_name}_password_confirmation",
              size: nil,
              maxlength: 70,
              required: entity.id.nil?
          )
        %>
      </dd>
    <% end %>

    <%=
      render(
          partial: 'users/form/profile_data',
          locals: {
              data: entity.data['profile'].to_h,
              entity: entity
          }
      )
    %>

    <dt><%= f.label :notice %></dt>
    <dd>
      <%=
        f.text_field(
            :notice,
            id: "#{model_name}_notice",
            size: nil,
            maxlength: User::NOTICE_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.notice') %></div>
    </dd>

    <%= render(partial: 'shared/forms/entity_flags', locals: { f: f }) %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.hidden_field :consent if entity.id.nil? %>
    <%= f.button t(:save), type: :submit, class: 'button button-save' %>
  </div>
<% end %>
