<% entity_type = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{entity_type}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :image %></dt>
    <dd>
      <figure id="<%= entity_type %>-image" role="group" class="preview">
        <%= f.label(:image, image_tag(entity.image.profile.url)) %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id:     :user_image,
                accept: 'image/jpeg,image/png',
                data:   { image: "#{entity_type}-image" }
            )
          %>
        </figcaption>
      </figure>
    </dd>

    <dt><%= f.label :screen_name %></dt>
    <dd>
      <%=
        f.text_field(
            :screen_name,
            maxlength: User::SCREEN_NAME_LIMIT,
            pattern:   User::SCREEN_NAME_PATTERN_HTML,
            title:     t('.guidelines.screen_name'),
            required:  true
        )
      %>
      <div class="guideline"><%= t('.guidelines.screen_name') %></div>
    </dd>

    <dt><%= f.label :email %></dt>
    <dd>
      <%=
        f.email_field(
            :email,
            id:        :user_email,
            size:      nil,
            maxlength: User::EMAIL_LIMIT,
            readonly: entity.super_user?
        )
      %>
    </dd>

    <dt><%= f.label :phone %></dt>
    <dd>
      <%=
        f.phone_field(
            :phone,
            id:        :user_phone,
            size:      15,
            maxlength: User::PHONE_LIMIT,
            readonly: entity.super_user?
        )
      %>
    </dd>

    <dt><%= f.label :birthday %></dt>
    <dd>
      <%=
        f.date_field(
            :birthday,
            id:   :user_birthday,
            size: 10
        )
      %>
    </dd>

    <% if entity.id.blank? || !entity.super_user? %>
      <dt><%= f.label :password %></dt>
      <dd>
        <%=
          f.text_field(
              :password,
              id:        :user_password,
              size:      nil,
              maxlength: 70,
              required:  entity.id.nil?
          )
        %>
      </dd>

      <dt><%= f.label :password_confirmation %></dt>
      <dd>
        <%=
          f.text_field(
              :password_confirmation,
              id:        :user_password_confirmation,
              size:      nil,
              maxlength: 70,
              required:  entity.id.nil?
          )
        %>
      </dd>
    <% end %>

    <%= render partial: 'users/form/profile_data', locals: { data: entity.profile_data } %>

    <dt><%= f.label :notice %></dt>
    <dd>
      <%=
        f.text_field(
            :notice,
            id: :user_notice,
            size: nil,
            maxlength: User::NOTICE_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.notice') %></div>
    </dd>

    <dt><%= t(:flags) %></dt>
    <dd>
      <ul>
        <li>
          <%= f.check_box :bot, id: :user_bot %>
          <%= f.label :bot %>
        </li>
        <li>
          <%= f.check_box :allow_login, id: :user_allow_login %>
          <%= f.label :allow_login %>
        </li>
        <li>
          <%= f.check_box :email_confirmed, id: :user_email_confirmed %>
          <%= f.label :email_confirmed %>
        </li>
        <li>
          <%= f.check_box :phone_confirmed, id: :user_phone_confirmed %>
          <%= f.label :phone_confirmed %>
        </li>
        <li>
          <%= f.check_box :allow_mail, id: :user_allow_mail %>
          <%= f.label :allow_mail %>
        </li>
      </ul>
    </dd>
  </dl>

  <div class="buttons">
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
