<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>

    <figure class="preview" id="user-image">
      <%= label_tag(:user_image, image_tag(entity.image.profile.url, alt: t(:current_image))) %>
      <figcaption>
        <%= f.label :image %>
        <%= f.file_field :image, accept: 'image/jpeg,image/png', data: { image: 'user-image' } %>
      </figcaption>
    </figure>

    <dl>
      <dt><%= f.label :screen_name %></dt>
      <dd>
        <%= f.text_field :screen_name, size: 30, maxlength: User::SLUG_LIMIT %>
      </dd>

      <dt><%= f.label :email %></dt>
      <dd>
        <%= f.email_field :email, size: 30, maxlength: User::EMAIL_LIMIT %>
      </dd>

      <dt><%= f.label :phone %></dt>
      <dd>
        <%= f.phone_field :phone, size: 15, maxlength: User::PHONE_LIMIT %>
      </dd>

      <% if entity.id.blank? %>
          <dt><%= f.label :password %></dt>
          <dd>
            <%= f.text_field :password, size: nil, maxlength: 70 %>
          </dd>

          <dt><%= f.label :password_confirmation %></dt>
          <dd>
            <%= f.text_field :password_confirmation, size: nil, maxlength: 70 %>
          </dd>
      <% end %>

      <dt><%= label_tag :user_profile_name, t('activerecord.attributes.user_profile.name') %></dt>
      <dd>
        <%= text_field_tag 'user_profile[name]', entity.user_profile&.name, size: 30, maxlength: UserProfile::NAME_LIMIT %>
      </dd>

      <dt><%= label_tag :user_profile_patronymic, t('activerecord.attributes.user_profile.patronymic') %></dt>
      <dd>
        <%= text_field_tag 'user_profile[patronymic]', entity.user_profile&.patronymic, size: 30, maxlength: UserProfile::NAME_LIMIT %>
      </dd>

      <dt><%= label_tag :user_profile_surname, t('activerecord.attributes.user_profile.surname') %></dt>
      <dd>
        <%= text_field_tag 'user_profile[surname]', entity.user_profile&.surname, size: 30, maxlength: UserProfile::NAME_LIMIT %>
      </dd>

      <dt><%= label_tag :user_profile_gender, t('activerecord.attributes.user_profile.gender') %></dt>
      <dd>
        <%= select_tag 'user_profile[gender]', options_for_select(genders_for_select, entity.user_profile&.gender) %>
      </dd>

      <dt><%= label_tag :user_profile_birthday, t('activerecord.attributes.user_profile.birthday') %></dt>
      <dd>
        <%= date_field_tag 'user_profile[birthday]', entity.user_profile&.birthday, size: 10 %>
      </dd>

      <dt><%= f.label :notice %></dt>
      <dd>
        <%= f.text_field :notice, size: nil, maxlength: User::NOTICE_LIMIT %>
      </dd>
    </dl>

    <ul class="flags">
      <li><%= f.check_box :bot %><%= f.label :bot %></li>
      <li><%= f.check_box :allow_login %><%= f.label :allow_login %></li>
      <li><%= f.check_box :email_confirmed %><%= f.label :email_confirmed %></li>
      <li><%= f.check_box :phone_confirmed %><%= f.label :phone_confirmed %></li>
      <li><%= f.check_box :allow_mail %><%= f.label :allow_mail %></li>
    </ul>

    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>
