<% unless entity.nil? %>
  <section id="link-block-<%= entity.slug %>" class="biovision-link-block">
    <% unless entity.title.blank? %>
      <h2><%= entity.title %></h2>
    <% end %>

    <% unless entity.lead.blank? %>
      <div class="lead">
        <%= simple_format(entity.lead) %>
      </div>
    <% end %>

    <%=
      render(
          partial: 'link_block_items/list',
          locals: {
              collection: entity.link_block_items.list_for_visitors
          }
      )
    %>

    <% unless entity.footer_text.blank? %>
      <footer>
        <%= simple_format(entity.footer_text) %>
      </footer>
    <% end %>
  </section>
<% end %>
