<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <dl>
      <% if entity.id.blank? %>
          <dt><%= f.label :user_id %></dt>
          <dd>
            <%= f.number_field :user_id, min: 1 %>
          </dd>
      <% else %>
          <dt><%= t('activerecord.attributes.token.user') %></dt>
          <dd>
            <%= admin_user_link entity.user %>
          </dd>

          <dt><%= t('activerecord.attributes.token.token') %></dt>
          <dd>
            <%= entity.token %>
          </dd>
      <% end %>
    </dl>
    <ul class="flags">
      <li><%= f.check_box :active %><%= f.label :active %></li>
    </ul>

    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>
