<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
    <%= link_to t('admin.tokens.nav_item.text'), admin_tokens_path %>
    <%= admin_token_link(@entity) %>
    <span><%= t(:edit) %></span>
<% end %>

<article>
  <h1><%= t('.title') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_token_path(id: @entity.id)) %></li>
    <li class="danger"><%= destroy_icon @entity %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
