<div class="data">
  <div><%= admin_stored_value_link(entity) %></div>
  <div class="info">
    <%= entity.name %>: <q><%= entity.value %></q>
  </div>
  <% unless entity.description.blank? %>
      <div class="secondary info">
        <%= entity.description %>
      </div>
  <% end %>

  <ul class="actions">
    <li><%= edit_icon(edit_stored_value_path(entity.id)) %></li>
  </ul>
</div>
