<section class="summary">
  <h1><%= t('my.index.index.heading') %></h1>

  <figure>
    <%= user_image_profile(current_user) %>
    <figcaption><%= current_user.profile_name %></figcaption>
  </figure>

  <div class="sidebar">
    <nav>
      <ul>
        <li><%= render 'my/profiles/nav_item' %></li>
        <li><%= render 'my/tokens/nav_item' %></li>
        <li><%= render 'my/login_attempts/nav_item' %></li>
        <%= render 'my/index/index/custom_sidebar' %>
        <% if BiovisionComponent.administrative?(current_user) %>
          <li><%= link_to t('admin.index.index.heading'), admin_path %></li>
        <% end %>
        <li><%= link_to t(:logout), logout_path, method: :delete %></li>
      </ul>
    </nav>
  </div>

  <%= render 'my/index/dashboard/biovision_post' if Gem.loaded_specs.key?('biovision-post') %>
</section>
