<figure class="image">
  <%= profile_avatar(entity.user) unless entity.user.nil? %>
</figure>
<div class="data">
  <div>
    <%= entity.code_type.name %>
    <%= admin_entity_link(entity) %>
  </div>
  <div class="info"><%= admin_entity_link(entity.user) %></div>
  <div class="secondary info">
    <div><%= t(:created_at) %>: <%= time_tag(entity.created_at) %></div>
    <div><%= t(:code_activation_count, count: entity.quantity) %></div>
    <% unless entity.ip.nil? %>
        <div><%= entity.ip %></div>
    <% end %>
    <% unless entity.agent.nil? %>
        <div class="truncate"><%= entity.agent.name %></div>
    <% end %>
  </div>

  <ul class="actions">
    <li><%= edit_icon(entity) %></li>
  </ul>
</div>
