<div class="image">
  <%= profile_avatar(entity.user) %>
</div>
<div class="data">
  <div><%= admin_token_link(entity) %></div>
  <div class="info">
    <% unless entity.last_used.nil? %>
        <div>
          <%= t('activerecord.attributes.token.last_used') %>
          <%= time_tag entity.last_used %>
        </div>
    <% end %>
  </div>
  <div class="secondary info">
    <div><%= entity.ip %></div>
    <% unless entity.agent.blank? %>
        <div class="truncate"><%= entity.agent.name %></div>
    <% end %>
  </div>
  <%= render partial: 'admin/tokens/toggleable', locals: { entity: entity } %>

  <ul class="actions">
    <li><%= edit_icon edit_token_path(entity) %></li>
  </ul>
</div>
