<%= form_tag api_agents_path, method: :get, class: :filter, id: 'agents-filter' do %>
    <fieldset>
      <legend><%= t(:filter) %></legend>

      <div>
        <div><%= label_tag 'filter_name', t('activerecord.attributes.agent.name') %></div>
        <div><%= search_field_tag 'filter[name]', filter[:name], size: 30, results: 5, autosave: 'agent_name' %></div>
      </div>

      <%= render partial: 'shared/filter/flag', locals: { title: t('activerecord.attributes.agent.bot'), name: 'bots', state: filter[:bots] } %>
      <%= render partial: 'shared/filter/flag', locals: { title: t('activerecord.attributes.agent.mobile'), name: 'mobile', state: filter[:mobile] } %>
      <%= render partial: 'shared/filter/flag', locals: { title: t('activerecord.attributes.agent.active'), name: 'active', state: filter[:active] } %>

      <div>
        <div><%= label_tag 'agent-filter-page', t(:page) %></div>
        <div class="pages">
          <%= button_tag '◀', type: :button, name: nil, class: 'previous-page' %>
          <%= number_field_tag 'page', 1, min: 1, id: 'agent-filter-page' %>
          <%= button_tag '▶', type: :button, name: nil, class: 'next-page' %>
        </div>
      </div>
      <div class="button"><%= button_tag t(:submit), type: :submit, name: '' %></div>
    </fieldset>
<% end %>

<script>
    "use strict";

    document.addEventListener('DOMContentLoaded', function () {
        const pagination = document.querySelector('#agents-filter div.pages');
        const field = document.getElementById('agent-filter-page');

        function change_page(delta) {
            let value = parseInt(field.value);

            value += delta;
            if (value < 1) {
                value = 1;
            }

            field.value = value;
            field.closest('form').submit();
        }

        pagination.querySelector('.previous-page').addEventListener('click', function () {
            change_page(-1);
        });

        pagination.querySelector('.next-page').addEventListener('click', function () {
            change_page(1);
        });
    });
</script>
