<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            id: "#{model_name}_name",
            size: nil,
            maxlenght: Agent::NAME_LIMIT,
            required: true
        )
      %>
    </dd>

    <dt><%= f.label :browser_id %></dt>
    <dd>
      <%= f.select :browser_id, browsers_for_select %>
    </dd>

    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.button t(:save), type: :submit %>
  </div>
<% end %>
