<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <dl>
      <dt><%= f.label :name %></dt>
      <dd>
        <%= f.text_field :name, size: 50, maxlenght: Agent::NAME_LIMIT, required: true %>
      </dd>

      <dt><%= f.label :browser_id %></dt>
      <dd>
        <%= f.select :browser_id, browsers_for_select %>
      </dd>
    </dl>

    <ul class="flags">
      <li>
        <%= f.check_box :active %>
        <%= f.label :active %>
      </li>
      <li>
        <%= f.check_box :mobile %>
        <%= f.label :mobile %>
      </li>
      <li>
        <%= f.check_box :bot %>
        <%= f.label :bot %>
      </li>
    </ul>

  <%= render 'shared/forms/state_container' %>

    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>
