<div class="image">
  <%= user_image_preview(entity) %>
</div>
<div class="data">
  <div><%= admin_user_link(entity) %></div>
  <% unless entity.notice.blank? %>
    <div><%= entity.notice %></div>
  <% end %>
  <div class="info">
    <%= entity.screen_name %>
  </div>
  <div class="info">
    UUID: <%= entity.uuid %>
  </div>
  <% unless entity.email.blank? %>
    <div class="info">
      <%= t('activerecord.attributes.user.email') %>: <%= entity.email %>
    </div>
  <% end %>
  <div class="info">
    <%= t('activerecord.attributes.user.balance') %>:
    <%= entity.balance %>
  </div>
  <div class="secondary info">
    <div><%= t(:created_at) %>: <%= time_tag entity.created_at %></div>
    <% unless entity.last_seen.nil? %>
      <div>
        <%= t('activerecord.attributes.user.last_seen') %>:
        <%= time_tag entity.last_seen %>
      </div>
    <% end %>
  </div>
  <% unless entity.inviter_id.nil? %>
    <div class="secondary info">
      <%= t('activerecord.attributes.user.inviter') %>:
      <%= admin_user_link(entity.inviter) %>
    </div>
  <% end %>
  <% if entity.foreign_users.any? %>
    <div class="secondary info">
      <%= t('.foreign_users') %>:
      <% entity.foreign_users.each do |foreign_user| %>
        <%= admin_foreign_user_link(foreign_user) %><br/>
      <% end %>
    </div>
  <% end %>
  <%=
    render(
        partial: 'admin/users/entity/in_list/additional_data',
        locals: {
            entity: entity
        }
    )
  %>

  <%=
    render(
        partial: 'shared/admin/toggleable',
        locals:  {
            entity: entity,
            url:    toggle_admin_user_path(id: entity.id)
        }
    )
  %>

  <ul class="actions">
    <li><%= edit_icon(edit_user_path(id: entity.id)) %></li>
    <li><%= world_icon(user_profile_path(slug: entity.screen_name)) %></li>
  </ul>
</div>
