<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
      <% if entity.id.nil? %>
          <dt><%= f.label :code_type_id %></dt>
          <dd>
            <%= f.select :code_type_id, code_types_for_select, required: true %>
          </dd>

          <dt><%= f.label :user_id %></dt>
          <dd>
            <%=
              f.number_field(
                  :user_id,
                  id: "#{model_name}_user_id",
                  in: User.ids_range
              )
            %>
            <%=
              render(
                  partial: 'admin/users/search',
                  locals: { target_id: "#{model_name}_user_id" }
              )
            %>
          </dd>
      <% else %>
          <dt><%= t('activerecord.attributes.code.code_type') %></dt>
          <dd>
            <%= entity.code_type.name %>
          </dd>

          <dt><%= t('activerecord.attributes.code.user_id') %></dt>
          <dd>
            <%= admin_user_link entity.user %>
          </dd>
      <% end %>

      <dt><%= f.label :body %></dt>
      <dd>
        <%=
          f.text_field(
              :body,
              id: "#{model_name}_body",
              size: 25,
              maxlength: Code::BODY_LIMIT,
              required: true
          )
        %>
        <div class="guideline"><%= t('.guidelines.body') %></div>
      </dd>

      <dt><%= f.label :payload %></dt>
      <dd>
        <%=
          f.text_field(
              :payload,
              id: "#{model_name}_payload",
              size: 25,
              maxlength: Code::PAYLOAD_LIMIT
          )
        %>
        <div class="guideline"><%= t('.guidelines.payload') %></div>
      </dd>

      <dt><%= f.label :quantity %></dt>
      <dd>
        <%=
          f.number_field(
              :quantity,
              id: "#{model_name}_quantity",
              in: Code::QUANTITY_RANGE
          )
        %>
      </dd>
    </dl>

  <%= render 'shared/forms/state_container' %>

    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>
