<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.codes.nav_item.text'), admin_codes_path) %>
    <%= admin_code_link(@entity) %>
    <span><%= t(:edit) %></span>
<% end %>

<article class="entity-page">
  <h1><%= t('.title') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_code_path(@entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
