<% content_for :meta_title, @entity.name %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.media_files.nav_item.text'), admin_media_files_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.name %></h1>

  <ul class="actions">
    <li>
      <% if @entity.media_folder.nil? %>
        <%= return_icon(admin_media_files_path) %>
      <% else %>
        <%= return_icon(admin_media_folder_path(@entity.media_folder_id)) %>
      <% end %>
    </li>
    <li><%= edit_icon(edit_media_file_path(@entity.id)) %></li>
  </ul>


  <dl>
    <dt><%= t('activerecord.attributes.media_file.file') %></dt>
    <dd>
      <figure role="group">
        <%= media_file_medium(@entity) %>
        <figcaption>
          <%= t('activerecord.attributes.media_file.file') %>
        </figcaption>
      </figure>

    </dd>
    <% unless @entity.media_folder.nil? %>
      <dt><%= t('activerecord.attributes.media_file.media_folder') %></dt>
      <dd><%= admin_media_folder_link(@entity.media_folder, @entity.media_folder.full_title) %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.media_file.name') %></dt>
    <dd><%= @entity.name %></dd>

    <% unless @entity.description.blank? %>
      <dt><%= t('activerecord.attributes.media_file.description') %></dt>
      <dd><%= @entity.description %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.media_file.user') %></dt>
    <dd><%= editor_user_link(@entity.user) %></dd>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag(@entity.created_at) %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag(@entity.updated_at) %></dd>

    <dt><%= t('activerecord.attributes.media_file.uuid') %></dt>
    <dd><%= @entity.uuid %></dd>
  </dl>

  <%= render partial: 'shared/track', locals: { item: @entity } %>
</article>
