<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.browsers.nav_item.text'), admin_browsers_path) %>
    <%= admin_browser_link(@entity) %>
    <span><%= t(:edit) %></span>
<% end %>

<article>
  <h1><%= t('.title') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_browser_path(@entity.id)) %></li>
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
