<% unless entity.nil? %>
  <% style = 'background-image: url("' + entity.image.large.url + '")' %>
  <section
    id="editable-block-<%= entity.slug %>"
    style="<%= entity.image.blank? ? '' : style %>"
    class="biovision-editable-block"
  >
    <% unless entity.title.blank? %>
      <h2><%= raw(entity.title) %></h2>
    <% end %>

    <% if entity.editable_by?(current_user) %>
      <ul class="actions">
        <li><%= gear_icon(admin_editable_block_path(id: entity.id)) %></li>
      </ul>
    <% end %>

    <% unless entity.lead.blank? %>
      <div class="lead">
        <%= entity.raw_output? ? raw(entity.lead) : entity.lead %>
      </div>
    <% end %>

    <% unless entity.body.blank? %>
      <div class="body">
        <%= entity.raw_output? ? raw(entity.body) : entity.body %>
      </div>
    <% end %>

    <% unless entity.footer.blank? %>
      <footer>
        <%= entity.raw_output? ? raw(entity.footer) : entity.footer %>
      </footer>
    <% end %>
  </section>
<% end %>
