<% model_name = entity.class.to_s.underscore %>
<%=
  form_with(
      model: entity,
      html:  {
          id:   "#{model_name}-form",
          data: { check_url: check_editable_blocks_path }
      }
  ) do |f|
%>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :language_id %></dt>
    <dd><%= f.select :language_id, languages_for_select %></dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id:        "#{model_name}_slug",
            size:      nil,
            maxlength: EditableBlock::SLUG_LIMIT,
            pattern:   EditableBlock::SLUG_PATTERN_HTML,
            title:     t('.guidelines.slug'),
            required:  true,
            data:      {
                check: :slug
            }
        )
      %>
      <div class="check-result-error hidden" data-field="slug"></div>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            id:        "#{model_name}_name",
            size:      nil,
            maxlength: EditableBlock::TITLE_LIMIT,
            required:  true,
            data:      {
                check: :name
            }
        )
      %>
      <div class="check-result-error hidden" data-field="name"></div>
      <div class="guideline"><%= t('.guidelines.name') %></div>
    </dd>

    <dt><%= f.label :description %></dt>
    <dd>
      <%=
        f.text_field(
            :description,
            id:        "#{model_name}_description",
            size:      nil,
            maxlength: EditableBlock::DESCRIPTION_LIMIT,
            data:      {
                check: :description
            }
        )
      %>
      <div class="check-result-error hidden" data-field="description"></div>
      <div class="guideline"><%= t('.guidelines.description') %></div>
    </dd>

    <dt><%= f.label :image %></dt>
    <dd>
      <figure class="preview" role="group" id="<%= model_name %>-image">
        <% if entity.image.blank? %>
          <%= f.label :image, image_tag('biovision/base/placeholders/16x9.svg') %>
        <% else %>
          <%= f.label :image, image_tag(entity.image.url) %>
        <% end %>
        <figcaption>
          <%=
            f.file_field(
                :image,
                id:     "#{model_name}_image",
                accept: 'image/jpeg,image/png',
                data:   { image: "#{model_name}-image" }
            )
          %>
        </figcaption>
      </figure>
      <div class="guideline"><%= t('.guidelines.image') %></div>
    </dd>

    <dt><%= f.label :title %></dt>
    <dd>
      <%=
        f.text_field(
            :title,
            id:        "#{model_name}_title",
            size:      nil,
            maxlength: EditableBlock::TITLE_LIMIT,
            data:      {
                check: :title
            }
        )
      %>
      <div class="check-result-error hidden" data-field="title"></div>
      <div class="guideline"><%= t('.guidelines.title') %></div>
    </dd>

    <dt><%= f.label :lead %></dt>
    <dd>
      <%=
        f.text_area(
            :lead,
            id:        "#{model_name}_lead",
            cols:      80,
            rows:      5,
            maxlength: EditableBlock::TEXT_LIMIT,
            class:     'auto-expand',
            data:      {
                check: :lead
            }
        )
      %>
      <div class="check-result-error hidden" data-field="lead"></div>
      <div class="guideline"><%= t('.guidelines.lead') %></div>
    </dd>

    <dt><%= f.label :body %></dt>
    <dd>
      <%=
        f.text_area(
            :body,
            id:        "#{model_name}_body",
            cols:      80,
            rows:      5,
            maxlength: EditableBlock::TEXT_LIMIT,
            class:     'auto-expand',
            data:      {
                check: :body
            }
        )
      %>
      <div class="check-result-error hidden" data-field="body"></div>
      <div class="guideline"><%= t('.guidelines.body') %></div>
    </dd>

    <dt><%= f.label :footer %></dt>
    <dd>
      <%=
        f.text_area(
            :footer,
            id:        "#{model_name}_footer",
            cols:      80,
            rows:      5,
            maxlength: EditableBlock::TEXT_LIMIT,
            class:     'auto-expand',
            data:      {
                check: :footer
            }
        )
      %>
      <div class="check-result-error hidden" data-field="footer"></div>
      <div class="guideline"><%= t('.guidelines.footer') %></div>
    </dd>

    <%= render(partial: 'shared/forms/entity_flags', locals: { f: f }) %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), type: :submit, class: 'button-save' %>
  </div>
<% end %>
