<h1><%= t('.title') %></h1>

<dl>
  <dt><%= t('activerecord.attributes.feedback_request.name') %></dt>
  <dd><%= @entity.name %></dd>

  <dt><%= t('activerecord.attributes.feedback_request.email') %></dt>
  <dd><%= @entity.email %></dd>

  <dt><%= t('activerecord.attributes.feedback_request.phone') %></dt>
  <dd><%= @entity.phone %></dd>
</dl>
