<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <span><%= t('admin.simple_blocks.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>
  <ul class="actions">
    <li><%= create_icon(new_admin_simple_block_path) %></li>
  </ul>

  <%=
    render(
        partial: 'shared/admin/list',
        locals: { collection: @collection }
    )
  %>
</article>
