<% content_for :meta_title, t('.title', slug: @entity.slug) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.simple_blocks.nav_item.text'), admin_simple_blocks_path) %>
  <span><%= @entity.name %></span>
<% end %>

<article>
  <h1><%= @entity.slug %></h1>

  <ul class="actions">
    <li><%= edit_icon(@entity) %></li>
    <li><%= destroy_icon(@entity) %></li>
  </ul>

  <dl class="fields">
    <% unless @entity.image.blank? %>
      <div>
        <dt><%= t('activerecord.attributes.simple_block.image') %></dt>
        <dd>
          <figure role="group" class="preview">
            <%= simple_image_medium(@entity) %>
            <figcaption><%= @entity.image_alt_text %></figcaption>
          </figure>
        </dd>
      </div>
    <% end %>

    <%= render partial: 'shared/entity/text_fields', locals: { entity: @entity, list: %w[slug name]} %>

    <div>
      <dt><%= t('activerecord.attributes.simple_block.body') %></dt>
      <dd>
        <div class="text">
          <%= @entity.body %>
        </div>
      </dd>
    </div>

    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>
  </dl>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: @entity }) %>
</article>
