<% if current_user_has_privilege?(:administrator) %>
  <nav>
    <div class="heading"><%= t('.heading') %></div>
    <ul>
      <li><%= render 'admin/users/nav_item' %></li>
      <li><%= render 'admin/privileges/nav_item' %></li>
      <li><%= render 'admin/privilege_groups/nav_item' %></li>
      <li><%= render 'admin/login_attempts/nav_item' %></li>
      <li><%= render 'admin/tokens/nav_item' %></li>
      <li><%= render 'admin/codes/nav_item' %></li>
    </ul>
  </nav>
<% end %>
