<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.settings.index.nav_text'), admin_settings_path) %>
  <span><%= @handler.name %></span>
<% end %>

<article>
  <h1><%= @handler.name %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_settings_path) %></li>
  </ul>

  <%=
    render(
        partial: 'admin/settings/component/settings',
        locals: {
            handler: @handler,
            settings: @handler.entity.settings
        }
    )
  %>

  <%=
    render(
        partial: 'admin/settings/component/parameters',
        locals: {
            handler: @handler,
            parameters: @handler.parameters
        }
    )
  %>

  <%#=
    render(
        partial: 'admin/settings/component/new_parameter',
        locals: {
            handler: @handler
        }
    )
  %>
</article>
