<%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

<%= form_for entity do |f| %>
    <dl>
      <dt><%= f.label :name %></dt>
      <dd>
        <%= f.text_field :name, size: nil, maxlenght: PrivilegeGroup::NAME_LIMIT, required: true, placeholder: t('.placeholders.name') %>
      </dd>

      <dt><%= f.label :slug %></dt>
      <dd>
        <%= f.text_field :slug, size: nil, maxlenght: PrivilegeGroup::SLUG_LIMIT, required: true, placeholder: t('.placeholders.slug') %>
        <div class="guideline"><%= t('.guidelines.slug') %></div>
      </dd>

      <dt><%= f.label :description %></dt>
      <dd>
        <%= f.text_area :description, cols: 80, rows: 3, maxlenght: PrivilegeGroup::DESCRIPTION_LIMIT %>
        <div class="guideline"><%= t('.guidelines.description') %></div>
      </dd>
    </dl>
    <div class="buttons">
      <%= f.button t(:save), type: :submit %>
    </div>
<% end %>
