<% model_name = entity.class.to_s.underscore %>
<%= form_with(model: entity, html: { id: "#{model_name}-form" }) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl>
    <dt><%= f.label :name %></dt>
    <dd>
      <%=
        f.text_field(
            :name,
            id: "#{model_name}_name",
            size: nil,
            maxlenght: PrivilegeGroup::NAME_LIMIT,
            required: true,
            placeholder: t('.placeholders.name')
        )
      %>
    </dd>

    <dt><%= f.label :slug %></dt>
    <dd>
      <%=
        f.text_field(
            :slug,
            id: "#{model_name}_slug",
            size: nil,
            maxlenght: PrivilegeGroup::SLUG_LIMIT,
            required: true,
            placeholder: t('.placeholders.slug')
        )
      %>
      <div class="guideline"><%= t('.guidelines.slug') %></div>
    </dd>

    <dt><%= f.label :description %></dt>
    <dd>
      <%=
        f.text_area(
            :description,
            id: "#{model_name}_description",
            cols: 80,
            rows: 3,
            maxlenght: PrivilegeGroup::DESCRIPTION_LIMIT
        )
      %>
      <div class="guideline"><%= t('.guidelines.description') %></div>
    </dd>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= f.button t(:save), type: :submit %>
  </div>
<% end %>
