<div class="data">
  <div><%= admin_browser_link(entity) %></div>
  <div class="info">
    <%= t(:agent_count, count: entity.agents_count) %>
  </div>
  <%= render partial: 'admin/browsers/toggleable', locals: { entity: entity } %>
  <ul class="actions">
    <li class="lockable <%= entity.locked? ? 'hidden' : '' %>">
      <%= edit_icon edit_browser_path(entity.id) %>
    </li>
    <%= render partial: 'shared/actions/locks', locals: { entity: entity, path: lock_admin_browser_path(entity) } %>
  </ul>
</div>