<div class="data">
  <div class="truncate"><%= admin_agent_link(entity) %></div>
  <% unless entity.browser.nil? %>
      <div class="info"><%= admin_browser_link(entity.browser) %></div>
  <% end %>
  <%= render partial: 'shared/admin/toggleable', locals: { entity: entity, url: toggle_admin_agent_path(id: entity.id) } %>
  <ul class="actions">
    <li class="lockable <%= entity.locked? ? 'hidden' : '' %>">
      <%= edit_icon edit_agent_path(id: entity.id) %>
    </li>
    <%= render partial: 'shared/actions/locks', locals: { path: lock_admin_agent_path(id: entity.id), entity: entity } %>
  </ul>
</div>
