<div class="data">
  <div class="truncate"><%= link_to agent.name, admin_agent_path(agent) %></div>
  <% unless agent.browser.nil? %>
      <div class="info"><%= link_to agent.browser.name, admin_browser_path(agent.browser) %></div>
  <% end %>
  <%= render partial: 'admin/agents/toggleable', locals: { agent: agent } %>
  <ul class="actions">
    <li class="lockable <%= agent.locked? ? 'hidden' : '' %>">
      <%= edit_icon edit_agent_path(agent) %>
    </li>
    <%= render partial: 'shared/actions/locks', locals: { path: lock_api_agent_path(agent), entity: agent } %>
  </ul>
</div>
