<div class="data">
  <div class="truncate"><%= link_to entity.name, admin_agent_path(entity) %></div>
  <% unless entity.browser.nil? %>
      <div class="info"><%= link_to entity.browser.name, admin_browser_path(entity.browser) %></div>
  <% end %>
  <%= render partial: 'admin/agents/toggleable', locals: { entity: entity } %>
  <ul class="actions">
    <li class="lockable <%= entity.locked? ? 'hidden' : '' %>">
      <%= edit_icon edit_agent_path(entity) %>
    </li>
    <%= render partial: 'shared/actions/locks', locals: { path: lock_admin_agent_path(entity), entity: entity } %>
  </ul>
</div>
