<% content_for :meta_title, t('.title', slug: @entity.long_slug) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.foreign_users.nav_item.text'), admin_foreign_users_path) %>
  <span><%= @entity.long_slug %></span>
<% end %>

<article>
  <h1><%= @entity.long_slug %></h1>

  <ul class="actions">
    <li class="danger"><%= destroy_icon(@entity) %></li>
  </ul>

  <figure role="group" class="preview">
    <%= profile_avatar @entity.user %>
    <figcaption>
      <%= user_link(@entity.user) %>
    </figcaption>
  </figure>

  <dl class="fields">
    <div>
      <dt><%= @entity.class.human_attribute_name(:foreign_site) %></dt>
      <dd><%= @entity.foreign_site.name %></dd>
    </div>

    <%= render partial: 'shared/entity/slug', locals: { entity: @entity } %>

    <div>
      <dt><%= @entity.class.human_attribute_name(:user) %></dt>
      <dd><%= admin_entity_link(@entity.user) %></dd>
    </div>

    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :name } %>

    <% unless @entity.email.blank? %>
      <div>
        <dt><%= @entity.class.human_attribute_name(:email) %></dt>
        <dd><%= link_to @entity.email, "mailto:#{@entity.email}" %></dd>
      </div>
    <% end %>

    <% unless @entity.ip.blank? %>
      <div>
        <dt><%= @entity.class.human_attribute_name(:ip) %></dt>
        <dd><%= @entity.ip %></dd>
      </div>
    <% end %>

    <% unless @entity.agent.blank? %>
      <div>
        <dt><%= @entity.class.human_attribute_name(:agent) %></dt>
        <dd><%= @entity.agent.name %></dd>
      </div>
    <% end %>

    <div>
      <dt><%= t(:created_at) %></dt>
      <dd><%= time_tag @entity.created_at %></dd>
    </div>

    <div>
      <dt><%= @entity.class.human_attribute_name(:data) %></dt>
      <dd>
        <% JSON.parse(@entity.data).each do |k, v| %>
          <%= "#{k}: #{v}" %><br/>
        <% end %>
      </dd>
    </div>
  </dl>
</article>
