<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
    <span><%= t('admin.regions.nav_item.text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_path) %></li>
  </ul>

  <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>

  <% if current_user_has_privilege?(:administrator) %>
      <section>
        <h2><%= t('regions.new.heading') %></h2>

        <%= render partial: 'regions/form', locals: { entity: Region.new } %>
      </section>
  <% end %>
</article>
