<%= form_with url: url_for, method: :get, local: true, html: { class: :filter } do %>
    <fieldset>
      <legend><%= t(:filter) %></legend>

      <div>
        <div><%= label_tag 'q', t('.search') %></div>
        <div><%= search_field_tag 'q', param_from_request(:q), size: 30, results: 5, autosave: 'user_search' %></div>
      </div>

      <div class="button"><%= button_tag t(:submit), type: :submit, name: '' %></div>
    </fieldset>
<% end %>
