<% content_for :meta_title, t('.title', user: @entity.screen_name, page: current_page) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
    <%= admin_user_link(@entity) %>
    <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= t('admin.codes.index.heading') %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_user_path(@entity.id)) %></li>
  </ul>

  <%= paginate @collection %>
  <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>
  <%= paginate @collection %>

  <section>
    <h2><%= t('codes.new.title') %></h2>

    <%= render partial: 'codes/form', locals: { entity: @entity.codes.new } %>
  </section>
</article>
