<% content_for :meta_title, t('.title', user: @entity.profile_name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
  <%= admin_user_link(@entity) %>
  <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= @entity.profile_name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_user_path(id: @entity.id)) %></li>
  </ul>

  <section>
    <h2><%= t('.heading') %></h2>

    <% BiovisionComponent.list_for_administration.each do |component| %>
      <%
        handler = Biovision::Components::BaseComponent.handler(component, current_user)
        next unless handler.administrator?
      %>
      <%=
        render(
            partial: 'admin/users/entity/privileges',
            locals: {
                handler: handler,
                entity: @entity
            }
        )
      %>
    <% end %>
  </section>
</article>
