<% content_for :meta_title, t('.title', user: @entity.profile_name) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
    <%= admin_user_link(@entity) %>
    <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= @entity.profile_name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_user_path(@entity.id)) %></li>
  </ul>

  <section>
    <h2><%= t('.heading') %></h2>

    <%= render partial: 'admin/users/entity/privilege_tree', locals: { privileges: Privilege.for_tree, user: @entity } %>
  </section>
</article>

<script>
    'use strict';

    document.addEventListener('DOMContentLoaded', function () {
        $('ul.privileges input[type=checkbox]').on('click', function () {
            if ($(this).is(':visible')) {
                let url = $(this).closest('div.entity').data('url');
                let method = $(this).is(':checked') ? 'put' : 'delete';
                let region_id = $(this).data('region-id');
                let data = region_id > 0 ? { region_id: region_id } : {};

                $.ajax(url, {
                    method: method,
                    data: data,
                }).fail(handle_ajax_failure);
            }
        });

        $(document).on('click', 'button.add_regions', function () {
            let $button = $(this);
            let $container = $(this).closest('ul');

            $.get($container.data('url'), function (response) {
                if (response.hasOwnProperty('data')) {
                    $(response['data']).each(function(i, data) {
                        if (data.hasOwnProperty('meta')) {
                            $container.append('<li>' + data['meta']['html_chunk'] + '</li>');
                        }
                    });
                }
                $button.closest('li').remove();
            }).fail(handle_ajax_failure);
        });

        $(document).on('click', 'input[type=checkbox].privilege-adder', function () {
            let url = $(this).closest('div.entity').data('url');
            let $li = $(this).closest('li');
            let data = {region_id: $(this).val()};

            $.ajax(url, {
                method: 'put',
                data: data,
                success: function(response) {
                    $li.find('ul.regions').remove();
                }
            }).fail(handle_ajax_failure);
        });
    });
</script>
