<% content_for :meta_title, t('.title', user: @entity.profile_name) %>
<% content_for :breadcrumbs do %>
  <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
  <%= admin_entity_link(@entity) %>
  <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= @entity.profile_name %></h1>

  <ul class="actions">
    <li><%= return_icon(admin_user_path(id: @entity.id)) %></li>
  </ul>

  <section>
    <h2><%= t('.heading') %></h2>

    <% BiovisionComponent.list_for_administration.each do |component| %>
      <%
        handler = Biovision::Components::BaseComponent.handler(component, current_user)
        next unless handler.administrator?
        context_handler = handler.clone
        context_handler.user = @entity
      %>
      <%=
        render(
            partial: 'admin/users/entity/privileges',
            locals: {
                entity: @entity,
                handler: handler
            }
        )
      %>
      <% prefix = 'admin/components/user_settings/' %>
      <% if lookup_context.exists?("#{prefix}_#{handler.slug}") %>
        <section class="biovision-component-user-settings">
          <%=
            render(
                partial: "#{prefix}#{handler.slug}",
                locals: {
                    handler: context_handler,
                    user: @entity
                }
            )
          %>
        </section>
      <% end %>
  <% end %>
  </section>
</article>
