<% content_for :meta_title, t('.title', name: @entity.profile_name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
  <span><%= @entity.profile_name %></span>
<% end %>

<% model = @entity.class %>
<article>
  <h1><%= @entity.screen_name %></h1>
  <% if @entity.deleted? %>
    <div class="message-box-alert"><%= t(:deleted_entity) %></div>
  <% end %>
  <ul class="actions">
    <li><%= back_icon(admin_users_path) %></li>
    <% unless @entity.deleted? %>
      <li><%= world_icon(user_profile_path(slug: @entity.slug)) %></li>
      <% if component_handler.allow?('edit') %>
        <li><%= edit_icon(edit_user_path(id: @entity.id)) %></li>
      <% end %>
    <% end %>
  </ul>

  <nav>
    <%= link_to(t('admin.users.privileges.nav_text'), privileges_admin_user_path, class: 'button button-ghost') %>
    <% if component_handler.administrator? %>
      <%= link_to(t('admin.tokens.index.heading'), tokens_admin_user_path(id: @entity.id), class: 'button button-ghost') %>
    <% end %>
    <% if component_handler.allow?('manage_codes') %>
      <%= link_to(t('admin.codes.index.heading'), codes_admin_user_path(id: @entity.id), class: 'button button-ghost') %>
    <% end %>
    <%= render partial: 'admin/users/entity/custom_nav', locals: { entity: @entity } %>
    <% if current_user.super_user? && @entity != current_user %>
      <%=
        link_to(
            t('.authenticate'),
            authenticate_admin_user_path(id: @entity.id),
            method: :post,
            class: 'button button-primary'
        )
      %>
    <% end %>
  </nav>

  <figure role="group" class="preview">
    <%= profile_avatar @entity %>
    <figcaption>
      <%= user_link(@entity) %>
    </figcaption>
  </figure>

  <dl class="fields">
    <% render partial: 'shared/entity/text_fields', locals: { entity: @entity, list: %w[notice screen_name] } %>

    <% unless @entity.inviter_id.nil? %>
      <div>
        <dt><%= model.human_attribute_name(:inviter) %></dt>
        <dd><%= admin_entity_link(@entity.inviter) %></dd>
      </div>
    <% end %>

    <% unless @entity.email.blank? %>
      <div>
        <dt><%= model.human_attribute_name(:email) %></dt>
        <dd><%= link_to @entity.email, "mailto:#{@entity.email}" %></dd>
      </div>
    <% end %>

    <% unless @entity.phone.blank? %>
      <div>
        <dt><%= model.human_attribute_name(:phone) %></dt>
        <dd><%= link_to @entity.phone, "tel:#{@entity.phone}" %></dd>
      </div>
    <% end %>

    <%=
      render(
          partial: 'admin/users/entity/profile',
          locals: {
              data: @entity.data['profile'],
              entity: @entity
          }
      )
    %>

    <%= render partial: 'shared/entity/text_field', locals: { entity: @entity, field: :ip } %>
    <%= render partial: 'shared/entity/timestamps', locals: { entity: @entity } %>

    <div>
      <dt><%= model.human_attribute_name(:referral_link) %></dt>
      <dd><%= root_url(rl: @entity.referral_link) %></dd>
    </div>

    <% unless @entity.last_seen.blank? %>
      <div>
        <dt><%= model.human_attribute_name(:last_seen) %></dt>
        <dd><%= time_tag @entity.last_seen %></dd>
      </div>
    <% end %>

    <% if @entity.foreign_users.any? %>
      <dt><%= t('admin.users.entity.in_list.foreign_users') %></dt>
      <dd>
        <ul>
          <% @entity.foreign_users.each do |foreign_user| %>
            <li><%= admin_entity_link(foreign_user) %></li>
          <% end %>
        </ul>
      </dd>
    <% end %>
  </dl>

  <%=
    render(
        partial: 'shared/admin/toggle',
        locals: { entity: @entity }
    )
  %>

  <% prefix = 'admin/users/entity/components/' %>
  <% BiovisionComponent.list_for_administration.each do |component| %>
    <% if lookup_context.exists?("#{prefix}_#{component.slug}") %>
      <section>
        <h2><%= component.name %></h2>
        <%=
          render(
              partial: "#{prefix}#{component.slug}",
              locals: { user: @entity }
          )
        %>
      </section>
    <% end %>
  <% end %>
</article>
