<% content_for :meta_title, t('.title', name: @entity.profile_name) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
  <span><%= @entity.profile_name %></span>
<% end %>

<article>
  <h1><%= @entity.screen_name %></h1>
  <% if @entity.deleted? %>
    <div class="message-box-alert"><%= t(:deleted_entity) %></div>
  <% end %>
  <ul class="actions">
    <li><%= back_icon(admin_users_path) %></li>
    <% unless @entity.deleted? %>
      <li><%= world_icon(user_profile_path(slug: @entity.slug)) %></li>
      <% if component_handler.allow?('edit') %>
        <li><%= edit_icon(edit_user_path(id: @entity.id)) %></li>
      <% end %>
    <% end %>
  </ul>

  <nav>
    <%= link_to(t('admin.users.privileges.nav_text'), privileges_admin_user_path, class: 'button-nav') %>
    <% if component_handler.administrator? %>
      <%= link_to(t('admin.tokens.index.heading'), tokens_admin_user_path(id: @entity.id), class: 'button-nav') %>
    <% end %>
    <% if component_handler.allow?('manage_codes') %>
      <%= link_to(t('admin.codes.index.heading'), codes_admin_user_path(id: @entity.id), class: 'button-nav') %>
    <% end %>
    <%= render partial: 'admin/users/entity/custom_nav', locals: { entity: @entity } %>
    <% if current_user.super_user? && @entity != current_user %>
      <%=
        link_to(
            t('.authenticate'),
            authenticate_admin_user_path(id: @entity.id),
            method: :post,
            class: 'button-action'
        )
      %>
    <% end %>
  </nav>

  <figure role="group" class="preview">
    <%= profile_avatar @entity %>
    <figcaption>
      <%= user_link(@entity) %>
    </figcaption>
  </figure>

  <dl>
    <% unless @entity.notice.blank? %>
      <dt><%= t('activerecord.attributes.user.notice') %></dt>
      <dd><%= @entity.notice %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.user.screen_name') %></dt>
    <dd><%= @entity.screen_name %></dd>

    <% unless @entity.inviter_id.nil? %>
      <dt><%= t('activerecord.attributes.user.inviter') %></dt>
      <dd><%= admin_entity_link(@entity.inviter) %></dd>
    <% end %>

    <% unless @entity.email.blank? %>
      <dt><%= t('activerecord.attributes.user.email') %></dt>
      <dd><%= link_to @entity.email, "mailto:#{@entity.email}" %></dd>
    <% end %>

    <% unless @entity.phone.blank? %>
      <dt><%= t('activerecord.attributes.user.phone') %></dt>
      <dd><%= link_to @entity.phone, "tel:#{@entity.phone}" %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.user.balance') %></dt>
    <dd><%= @entity.balance %></dd>

    <%=
      render(
          partial: 'admin/users/entity/profile',
          locals: {
              data: @entity.data['profile'],
              entity: @entity
          }
      )
    %>

    <% unless @entity.ip.blank? %>
      <dt><%= t('activerecord.attributes.user.ip') %></dt>
      <dd><%= @entity.ip %></dd>
    <% end %>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag @entity.created_at %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag @entity.updated_at %></dd>

    <dt><%= t('activerecord.attributes.user.referral_link') %></dt>
    <dd><%= root_url(rl: @entity.referral_link) %></dd>

    <% unless @entity.last_seen.blank? %>
      <dt><%= t('activerecord.attributes.user.last_seen') %></dt>
      <dd><%= time_tag @entity.last_seen %></dd>
    <% end %>

    <% if @entity.foreign_users.any? %>
      <dt><%= t('admin.users.entity.in_list.foreign_users') %></dt>
      <dd>
        <ul>
          <% @entity.foreign_users.each do |foreign_user| %>
            <li><%= admin_foreign_user_link(foreign_user) %></li>
          <% end %>
        </ul>
      </dd>
    <% end %>
  </dl>

  <% unless @entity.deleted? %>
    <%=
      render(
          partial: 'shared/admin/toggleable',
          locals: {
              entity: @entity,
              url: toggle_admin_user_path(id: @entity.id)
          }
      )
    %>
  <% end %>
</article>
