<% content_for :meta_title, t('.title', name: @entity.profile_name) %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
    <span><%= @entity.profile_name %></span>
<% end %>

<article class="entity-page">
  <h1><%= @entity.screen_name %></h1>
  <% if @entity.deleted? %>
      <div class="message-box-alert"><%= t(:deleted_entity) %></div>
  <% end %>
  <ul class="actions">
    <li><%= back_icon(admin_users_path) %></li>
    <% unless @entity.deleted? %>
        <li><%= edit_icon(edit_user_path(@entity.id)) %></li>
    <% end %>
  </ul>

  <nav>
    <ul>
      <li><%= link_to t('.privileges'), privileges_admin_user_path(@entity.id) %></li>
      <li><%= link_to t('admin.tokens.index.heading'), tokens_admin_user_path(@entity) %></li>
      <li><%= link_to t('admin.codes.index.heading'), codes_admin_user_path(@entity) %></li>
    </ul>
  </nav>

  <figure>
    <%= profile_avatar @entity %>
    <figcaption>
      <%= @entity.slug %>
    </figcaption>
  </figure>

  <dl>
    <% unless @entity.notice.blank? %>
        <dt><%= t('activerecord.attributes.user.notice') %></dt>
        <dd><%= @entity.notice %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.user.screen_name') %></dt>
    <dd><%= user_link @entity %></dd>

    <% unless @entity.name.blank? %>
        <dt><%= t('activerecord.attributes.user.name') %></dt>
        <dd><%= @entity.name %></dd>
    <% end %>

    <% unless @entity.patronymic.blank? %>
        <dt><%= t('activerecord.attributes.user.patronymic') %></dt>
        <dd><%= @entity.patronymic %></dd>
    <% end %>

    <% unless @entity.surname.blank? %>
        <dt><%= t('activerecord.attributes.user.surname') %></dt>
        <dd><%= @entity.surname %></dd>
    <% end %>

    <% unless @entity.email.blank? %>
        <dt><%= t('activerecord.attributes.user.email') %></dt>
        <dd><%= link_to @entity.email, "mailto:#{@entity.email}" %></dd>
    <% end %>

    <% unless @entity.phone.blank? %>
        <dt><%= t('activerecord.attributes.user.phone') %></dt>
        <dd><%= link_to @entity.phone, "tel:#{@entity.phone}" %></dd>
    <% end %>

    <dt><%= t('activerecord.attributes.user.gender') %></dt>
    <dd><%= @entity.gender.blank? ? t(:not_selected) : t("activerecord.attributes.user.genders.#{@entity.gender}") %></dd>

    <% unless @entity.ip.blank? %>
        <dt><%= t('activerecord.attributes.user.ip') %></dt>
        <dd><%= @entity.ip %></dd>
    <% end %>

    <dt><%= t(:created_at) %></dt>
    <dd><%= time_tag @entity.created_at %></dd>

    <dt><%= t(:updated_at) %></dt>
    <dd><%= time_tag @entity.updated_at %></dd>

    <% unless @entity.last_seen.blank? %>
        <dt><%= t('activerecord.attributes.user.last_seen') %></dt>
        <dd><%= time_tag @entity.last_seen %></dd>
    <% end %>
  </dl>

  <% unless @entity.deleted? %>
      <%= render partial: 'admin/users/toggleable', locals: { entity: @entity } %>
  <% end %>
</article>
