<% content_for :meta_title, t('.title', user: @entity.screen_name, page: current_page) %>
<% content_for :breadcrumbs do %>
  <%= admin_biovision_component_link(component_handler.component) %>
  <%= link_to(t('admin.users.nav_item.text'), admin_users_path) %>
  <%= admin_entity_link(@entity) %>
  <span><%= t('.heading') %></span>
<% end %>

<article>
  <h1><%= t('admin.tokens.index.heading') %></h1>

  <%= render partial: 'shared/admin/list', locals: { collection: @collection } %>

  <section>
    <h2><%= t('tokens.new.title') %></h2>

    <%= render partial: 'admin/tokens/form', locals: { entity: @entity.tokens.new } %>
  </section>
</article>
