<% content_for :meta_title, t('.title') %>
<% content_for :breadcrumbs do %>
    <%= link_to(t('admin.simple_blocks.nav_item.text'), admin_simple_blocks_path) %>
    <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <h1><%= t('.heading') %></h1>

  <ul class="actions">
    <li><%= back_icon(admin_simple_blocks_path) %></li>
  </ul>

  <%= render partial: 'form', locals: { entity: @entity } %>
</article>
