<figure class="image"><%= simple_image_preview(entity) %></figure>
<div class="data">
  <div><%= admin_entity_link(entity) %></div>
  <div class="info">
    <%= entity.name %>
  </div>

  <%= render(partial: 'shared/admin/toggle', locals: { entity: entity }) %>

  <ul class="actions">
    <li><%= edit_icon(entity) %></li>
  </ul>
</div>
