<%
  element_id = "setting-#{key}"
  element_name = "component[settings][#{key}]"
  key_name = t("biovision.components.#{slug}.settings.#{key}", default: key)
%>
<div>
  <% if value.is_a?(Numeric) %>
    <%= label_tag(element_id, key_name) %>
    <%= number_field_tag(element_name, value, id: element_id, step: handler.class.setting_steps[key.to_sym]) %>
  <% elsif [true, false].include?(value) %>
    <%= hidden_field_tag(element_name, '0', id: nil) %>
    <%= check_box_tag(element_name, '1', value, id: element_id) %>
    <%= label_tag(element_id, key_name) %>
  <% else %>
    <%= label_tag(element_id, key_name) %>
    <%= text_field_tag(element_name, value, id: element_id) %>
  <% end %>
</div>
