<% content_for :meta_title, t('.title', name: @entity.name, page: current_page) %>

<article class="entity-page">
  <h1><%= @entity.name %></h1>
  <ul class="actions">
    <li><%= view_icon admin_browser_path(@entity) %></li>
    <li><%= list_icon admin_browsers_path %></li>
  </ul>

  <section id="browser-agents">
    <h2><%= t('admin.agents.index.heading') %></h2>

    <%= paginate @collection %>
    <%= render partial: 'admin/agents/list', locals: { collection: @collection } %>
    <%= paginate @collection %>
  </section>

  <%= render partial: 'admin/browsers/agents/add', locals: { browser: @entity } %>
</article>
